{% extends 'base.html' %}

{% block content %}


<form method="post" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div x-data="{ searchQuery: '' }">
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">WAF</h1>
                    <h2 class="text-sm font-medium text-slate-500">Manage <a href="#" class="inline-flex items-center gap-1 text-sm text-indigo-600 dark:text-indigo-500">CorazaWAF<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg></a></h2>
    </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">

            <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400"
                    type="submit">Save settings</button>

                </div>
            </div>
        </header>
    </div>



  <div class="m-8">


    <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
        <div>
            <h2 id="personal-information" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Enable</h2>
            <p class="mt-1 text-sm leading-6 text-gray-500">Enable/disable CorazaWAF.</p>
        </div>
        <div class="md:col-span-2">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                <div class="col-span-full sm:col-span-3"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="status">Enable</label>
                    <div class="relative w-full mt-2">
                        <select name="status" id="status" class="group/trigger flex w-full select-none items-center justify-between gap-2 truncate rounded-md border px-3 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 data-[placeholder]:text-gray-500 data-[placeholder]:dark:text-gray-500 bg-white dark:bg-gray-950 hover:bg-gray-50 hover:dark:bg-gray-950/50 data-[disabled]:bg-gray-100 data-[disabled]:text-gray-400 data-[disabled]:dark:border-gray-700 data-[disabled]:dark:bg-gray-800 data-[disabled]:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 mt-2">
                            <option value="yes" {{ 'selected' if status == 'on' else '' }}>Enabled</option>
                            <option value="no" {{ 'selected' if status == 'off' else '' }}>Disabled</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>




    <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
        <div>
            <h2 id="personal-information" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Sets</h2>
            <p class="mt-1 text-sm leading-6 text-gray-500">WAF rules sets.</p>
        </div>
        <div class="md:col-span-2">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                    <div class="relative w-full mt-2">

<a href="/security/waf/rules">
<div class="sm:flex sm:items-center sm:space-x-2"><span class="group-data-[state=active]:text-gray-900 group-data-[state=active]:dark:text-gray-50">Included:</span><span class="hidden rounded-md bg-white px-2 py-1 text-xs font-semibold tabular-nums ring-1 ring-inset ring-gray-200 group-data-[state=active]:text-gray-700 dark:bg-[#090E1A] dark:ring-gray-800 group-data-[state=active]:dark:text-gray-300 sm:block">{{ total_sets }}</span></div>

<div class="sm:flex sm:items-center sm:space-x-2"><span class="group-data-[state=active]:text-gray-900 group-data-[state=active]:dark:text-gray-50">Active:</span><span class="hidden rounded-md bg-white px-2 py-1 text-xs font-semibold tabular-nums ring-1 ring-inset ring-gray-200 group-data-[state=active]:text-gray-700 dark:bg-[#090E1A] dark:ring-gray-800 group-data-[state=active]:dark:text-gray-300 sm:block">{{ active_sets }} / {{ total_sets }}</span></div>
</a>

                    </div>
                </div>
            </div>
        </div>
    </div>



  </div>

{% endblock %}
