{% extends 'base.html' %}

{% block content %}


        {% with messages = get_flashed_messages() %}
            {% if messages %}
    <div>


                    {% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
{{ message }}
<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
</div>
                    {% endfor %}
    </div>
            {% endif %}
        {% endwith %}


<style>
    #no_margin_for_iframe {
        padding: 0;
    }
    .page-body {
        margin:0;
    }
</style>

<iframe class="stream-element" marginheight="0" marginwidth="0" height="100%" width="100%" display="block" border="none" outline="none" margin="none" name="myiframe" id="myiframe" src="/configservercsf/iframe/"  scrolling="yes" seamless="yes" allowfullscreen="no" frameborder="0" style="height: 84vh;"></iframe>


{% endblock %}
