{% extends 'base.html' %}

{% block content %}

<!-- Page header -->
<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">ImunifyAV(+)</h1>
                <h2 class="text-sm font-medium text-slate-500">Imunify is running and GUI is accessible.</h2>
            </div>
            <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
            </div>
        </div>
    </header>
</div>


<div dir="ltr" data-orientation="horizontal" class="m-6">
    <div class="mt-6 space-y-10">
        <section aria-labelledby="billing-overview">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Status</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">ImunifyAV GUI is accessible.</p>
                </div>
                <div class="">
                    <a href="/imav/" target="_blank" class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0">Open ImunifyAV GUI</a>
                </div>
            </div>
        </section>
        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>






        <section aria-labelledby="add-ons">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 id="add-ons" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Logins</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">For login use SSH user and password.</p>
                </div>

<div class="md:col-span-2"><div class="grid grid-cols-1 gap-4 sm:max-w-3xl sm:grid-cols-2"><div class="relative w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 !p-4 hover:bg-gray-50 hover:dark:bg-gray-900"><p class="text-sm text-gray-500 dark:text-gray-500">Username:</p><p class="mt-3 flex items-end"><span class="text-3xl font-semibold text-gray-900 dark:text-gray-50">
{% for user in auth_admin %}
{{ user }}<br>
{% else %}
No admin users found.
{% endfor %}
    </span></p></div><div class="relative w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 !p-4 hover:bg-gray-50 hover:dark:bg-gray-900"><p class="text-sm text-gray-500 dark:text-gray-500">Password:</p><p class="mt-3 flex items-end"><span class="text-3xl font-semibold text-gray-900 dark:text-gray-50">******</span></p></div></div></div>

            </div>
        </section>
        
        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

        <section aria-labelledby="billing-overview">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Paths</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">Recommended path to avoid false-positives.</p>
                </div>
<div class="space-y-6 md:col-span-2"><div class="p-4 relative w-full rounded-lg border text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 overflow-hidden"><div id="log-container" style="" class="p-4 mt-4 border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-full max-h-64 overflow-y-auto"><pre>/home/*/docker-data/volumes/*_html_data/_data/</pre></div></div></div>
            </div>
        </section>
    </div>
</div>



{% endblock %}
