<!doctype html>
<html lang="en" class="h-full" style="color-scheme: ">
{{template "chrome_head" .}}
<body class="bg-white-50 h-full antialiased dark:bg-gray-950">
    <script defer src="/static/dist/js/flowbite312.min.js"></script>

<div class="flex min-h-svh w-full">
    {{template "chrome_sidebar" .}}
    <div class="w-full overflow-hidden">
        {{template "chrome_topbar" .}}

    <main id="no_margin_for_iframe" class="bg-white-50 antialiased dark:bg-gray-950 text-gray-800 dark:text-white min-h-[90vh]" style="padding:0;">
        {{template "chrome_flashes" .}}

<iframe class="stream-element" marginheight="0" marginwidth="0" height="100%" width="100%" display="block" border="none" outline="none" margin="none" name="myiframe" id="myiframe" src="/configservercsf/iframe/" scrolling="yes" seamless="yes" allowfullscreen="no" frameborder="0" style="height: 90vh;"></iframe>

    </main>

    {{template "chrome_after_main" .}}
    </div>
</div>
{{template "chrome_scripts_bottom" .}}
</body>
</html>
