<!doctype html>
<html lang="en" class="h-full" style="color-scheme: ">
{{template "chrome_head" .}}
<body class="bg-white-50 h-full antialiased dark:bg-gray-950">
    <script defer src="/static/dist/js/flowbite312.min.js"></script>

<div class="flex min-h-svh w-full">
    {{template "chrome_sidebar" .}}
    <div class="w-full overflow-hidden">
        {{template "chrome_topbar" .}}

    <main id="no_margin_for_iframe" class="bg-white-50 antialiased dark:bg-gray-950 text-gray-800 dark:text-white min-h-[90vh]">
        {{template "chrome_flashes" .}}

<style>.next-error-h1{border-right:1px solid rgba(0,0,0,.3);margin-right:10px;}@media (prefers-color-scheme:dark){.next-error-h1{border-right:1px solid rgba(255,255,255,.3)}}</style>

        <div style="font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; height: 100vh; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <div>
                <h1 id="error-link-container" style="display: inline-block; margin: 0 20px 0 0; padding: 0 23px 0 0; font-size: 24px; font-weight: 500; vertical-align: top; line-height: 49px">
      {{if .ErrorCode}}
        <span id="error-code" class="next-error-h1" data-code="{{.ErrorCode}}">{{.ErrorCode}}</span>
      {{else}}
        ERROR
      {{end}}
                <div style="display: inline-block">
                    <h2 style="font-size:14px;font-weight:400;line-height:49px;margin:0">{{.ErrorMessage}}</h2>
                </div>
            </div>
        </div>


<script>
  (function() {
    const errorCodeElement = document.getElementById('error-code');
    if (!errorCodeElement) return; // no error code to process

    const errorCode = errorCodeElement.getAttribute('data-code');

    const links = [
      { url: `https://http.dog/${errorCode}`, label: 'dog 🐶' },
      { url: `https://http.cat/${errorCode}`, label: 'cat 😺' },
      { url: `https://httpgoats.com/${errorCode}`, label: 'goat 🐐' },
      { url: `https://www.agiliq.com/notebook/http-status-memes/?code=/${errorCode}`, label: 'meme 🤡' }
    ];

    // pick a random link
    const randomIndex = Math.floor(Math.random() * links.length);
    const selected = links[randomIndex];

    // create an <a> element
    const linkElement = document.createElement('a');
    linkElement.href = selected.url;
    linkElement.target = '_blank';
    linkElement.rel = 'noopener noreferrer';
    linkElement.style.textDecoration = 'none';
    linkElement.style.color = 'inherit';
    linkElement.style.margin = '0 10px';
    linkElement.textContent = `${errorCode}`;
    linkElement.title = `Click to view a ${selected.label}`;

    // replace the span with the link
    errorCodeElement.innerHTML = ''; // clear
    errorCodeElement.appendChild(linkElement);
  })();
</script>

    </main>

    {{template "chrome_after_main" .}}
    </div>
</div>
{{template "chrome_scripts_bottom" .}}
</body>
</html>
