            <!-- DELETE USER -->
            <div x-show="activeTab === 'delete'" class="p-4" x-cloak>
               <form method="POST" action="/user/delete/{{ user.username.split('_')[-1] }}">
                  <div x-data="{ confirmationText: '' }" class="relative w-full p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 sm:mx-auto sm:max-w-xl">
               <form action="#" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
               <h3 class="font-semibold text-gray-900 dark:text-gray-50">Delete user account</h3>
               <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-500">All user data will be permanently deleted. There is no coming back after you press delete.</p>
               <div class="mt-6">
               <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium">Type "{{ user.username.split('_')[-1] }}" to confirm:</label>
               <div class="relative w-full mt-2">
               <input type="text" x-model="confirmationText" class="relative block w-full appearance-none rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950">
               </div>
               </div>
               <button x-show="confirmationText === '{{ user.username.split('_')[-1] }}'" x-cloak class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 text-white border-transparent bg-red-600 dark:bg-red-700 hover:bg-red-700 dark:hover:bg-red-600 mt-4 w-full" type="submit">Delete account permanently</button>
               </form>
               </div>
               </form>
            </div>
            <!-- END DELETE USER -->
