            <!-- TRANSFER USER -->
            <div x-show="activeTab === 'transfer'" class="p-4" x-cloak>

               <form method="POST" id="transfer-form" action="/import/transfer/">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <div class="relative w-full p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 sm:mx-auto sm:max-w-xl">
                    <h3 class="font-semibold text-gray-900 dark:text-gray-50">Transfer account {{ user.username.split('_')[-1] }}</h3>
                    <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-500">Transfer the user account along with all its containers and data to another OpenPanel server via SSH.</p>
                    <div class="mt-6">
                        <input hidden type="hidden" name="openpanel_username" value="{{ user.username.split('_')[-1] }}">

                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

                        <div class="col-span-full">
                        <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="server">
                            Server<span class="text-red-500 dark:text-red-500">*</span>
                        </label>
                        <div class="flex gap-4 mt-2">
                            <div class="flex-2">
                            <input
                                type="text"
                                class="block w-full rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden"
                                name="server"
                                id="server"
                                required
                                autofocus
                                placeholder="IP address"
                                {% if server %}value="{{server}}"{% endif %}
                            />
                            </div>
                            <div class="flex-1">
                            <label class="sr-only" for="port">Port</label>
                            <input
                                type="number"
                                min="1"
                                max="65535"
                                class="block w-full rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700"
                                name="port"
                                id="port"
                                placeholder="Port"
                                {% if port %}value="{{port}}"{% endif %}
                            />
                            </div>
                        </div>

                        <div class="mt-4">
                            <p class="text-xs text-gray-500">Insert remote server's IP address or domain name and SSH port (usually <b>22</b>).</p>
                        </div>
                        </div>


                        <div class="col-span-full"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="username">Username<span class="text-red-500 dark:text-red-500">*</span></label>
                            <div class="relative w-full mt-2"><input type="text" class="relative block w-full appearance-none rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" minlength="3" maxlength="25" name="username" placeholder="Username" id="username" required="" autofocus="" {% if username %}value="{{username}}"{% endif %}></div>

                        <div class="mt-4"><p class="text-xs text-gray-500">SSH username for the remote server (usually <b>root</b>).</p></div>

                        </div>

                        <div class="col-span-full"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="password">Password<span class="text-red-500 dark:text-red-500">*</span></label>
                            <div class="relative w-full mt-2"><input type="password" class="relative block w-full appearance-none rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="password" id="password" required="" autofocus="" placeholder="Password" {% if password %}value="{{password}}"{% endif %}></div>
                        </div>



                        <div class="col-span-full"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="live_transfer">Live Transfer</label><div class="relative w-full mt-2"><div class="mt-2 flex items-start"><input name="live_transfer" id="live_transfer" type="checkbox" tabindex="-1" class="mt-1 h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"><label for="live_transfer" class="ml-2 block text-sm text-gray-500">Suspend account on this server and forward DNS to the remote server.</label></div></div></div>




                        </div>
                    </div>
                    <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400 mt-4 w-full" type="submit">Start Transfer</button>
                   </div>
               </form>

               <div id="existing-transfers" class="relative w-full p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 sm:mx-auto sm:max-w-xl"></div>

            </div>
            <!-- END TRANSFER USER -->
