{% extends 'base.html' %}
{% block content %}

{% if domain_name %}

<div aria-label="Select Domain Header">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
            <header>
                <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                    <div class="grow">
                        <h1 class="mb-1 text-xl font-bold">Edit Domain Caddyfile</h1>
                        <h2 class="text-sm font-medium text-slate-500">Edit Caddyfile for domain {{ domain_name }}</h2>
                    </div>
                    <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                        <button type="submit" class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400">Save</button>
                    </div>
                </div>
            </header>
        </div>


<div class="m-6 rounded-lg bg-gray-50 p-6 ring-1 ring-inset ring-gray-200 dark:bg-gray-400/10 dark:ring-gray-800">
  <h4 class="text-sm font-semibold text-gray-900 dark:text-gray-50">Warning!</h4>
  <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
    Directly editing the Caddyfile is not recommended. Misconfigurations may cause the entire web server and all hosted websites to go down. </p>
  <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">For tasks like setting up redirects, SSL, or traffic limits, use the <a href="/domains/vhost" class="inline-flex items-center gap-1 text-indigo-600 dark:text-indigo-500">Edit VirtualHost<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg></a>  instead.</p>
</div>



        <div class="mt-2 gap-2 sm:mt-0 sm:flex">
            <textarea name="bind_content" id="bind_content" rows="25" class="flex min-h-[4rem] w-full border px-3 py-1.5 shadow-sm outline-none transition-colors sm:text-sm text-gray-900 dark:text-gray-50 border-gray-300 dark:border-gray-800 bg-white dark:bg-gray-950 placeholder-gray-400 dark:placeholder-gray-500 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-300 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700">{{bind_content}}</textarea>
        </div>
    </form>
</div>


{% else %}

<!-- page header -->
<section aria-label="Select Domain Header">


    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Edit Domain Caddyfile</h1>
                    <h2 class="text-sm font-medium text-slate-500">Select domain to edit Caddyfile for</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                </div>
            </div>
        </header>
    </div>
<!-- END page header -->



<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
    <form class="mt-8" method="GET">
        <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">


            <div class="col-span-full">


  <select id="domains" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="version" onchange="redirectToSelectedVersion(this)">
                          <option value="" disabled selected>Select domain</option> 
                      {% for domain in domains %}
                          <option value="{{ domain.domain_url }}">{{ domain.domain_url }}</option>
                      {% endfor %}
                      </select>
              <script>
                  // JavaScript function to redirect to the same page with domain parameter
                  function redirectToSelectedVersion(selectElement) {
                      var selectedVersion = selectElement.value;
                      if (selectedVersion) {
                          var url = `/domains/caddy/${selectedVersion}`;
                          window.open(url, '_self');
                      }
                  }
              </script>

    </form>
</div>

</section>
{% endif %}
{% endblock %}
