{% extends 'base.html' %}

{% block content %}
<!-- START templates/domains/ssl.html -->

<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">Manage SSL for <span class="punycode">{{ domain_name }}</h1>
                <h2 class="text-sm font-medium text-slate-500">Configure AutoSSL or upload a custom certificate for a domain.</h2>
            </div>
            <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                <a href="/domains" class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400">Back to Domains</a>
            </div>
        </div>
    </header>
</div>


<div dir="ltr" data-orientation="horizontal" class="m-6">
    <div class="mt-6 space-y-10">
        <section aria-labelledby="billing-overview">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Status</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">Current SSL setting for domain.</p>
                </div>
                <div class="">
                    <dd class="mt-1.5 flex items-center gap-2">
            {% if current_setting == 'autossl' %}
                        <div class="flex gap-0.5">
                            <div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">Auto SSL</p>

            {% elif current_setting == 'custom ssl' %}
                <div class="flex gap-0.5">
                    <div class="h-3.5 w-1 rounded-sm bg-orange-500 dark:bg-orange-500"></div>
                    <div class="h-3.5 w-1 rounded-sm bg-orange-500 dark:bg-orange-500"></div>
                    <div class="h-3.5 w-1  rounded-sm bg-orange-500 dark:bg-orange-500"></div>
                </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">Custom SSL</p>
                                <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                
    <input type="hidden" name="action" value="autossl">
                                    <input type="hidden" id="domain_name" name="domain_name" value="{{ domain_name }}" required>
                                <button class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0" type="submit">Switch back to AutoSSL</button>
                                </form>                        
            {% else %}
                <div class="flex gap-0.5">
                    <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                    <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                    <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">Unknown</p>
                                <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                
    <input type="hidden" name="action" value="autossl">
                                    <input type="hidden" id="domain_name" name="domain_name" value="{{ domain_name }}" required>
                                <button class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0" type="submit">Try enabling AutoSSL</button>
                                </form>   

            {% endif %}
                    </dd>
                </div>
            </div>
        </section>
        <div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div>
        <section aria-labelledby="info">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 id="info" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Information</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">View current certificate information.</p>
                </div>
                <div class="md:col-span-2">
                    <div class="grid grid-cols-1 gap-4">
                        <div class="relative w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 !p-4 hover:bg-gray-50 hover:dark:bg-gray-900">
                            <p class="text-sm text-gray-500 dark:text-gray-500">Certificate Details:</p>
                            <p class="mt-3 flex items-end">
                                {% if keys %}

                                <div id="certData">{{ keys }}</div>

<script type="module">
  import * as asn1js from "https://esm.sh/asn1js@3.0.4";
  import * as pkijs from "https://esm.sh/pkijs@3.0.4";

  const pre = document.getElementById('certCode').textContent;

  const certMatch = pre.match(/-----BEGIN CERTIFICATE-----[\s\S]+?-----END CERTIFICATE-----/);
  if (!certMatch) {
    throw new Error("Certificate block not found");
  }
  const certPem = certMatch[0];

  function pemToArrayBuffer(pem) {
    const b64 = pem
      .replace("-----BEGIN CERTIFICATE-----", "")
      .replace("-----END CERTIFICATE-----", "")
      .replace(/\s+/g, "");

    const binaryString = window.atob(b64);
    const len = binaryString.length;
    const bytes = new Uint8Array(len);
    for (let i = 0; i < len; i++) {
      bytes[i] = binaryString.charCodeAt(i);
    }
    return bytes.buffer;
  }

  const buffer = pemToArrayBuffer(certPem);
  const asn1 = asn1js.fromBER(buffer);
  if (asn1.offset === -1) {
    console.error("Failed to parse certificate");
  } else {
    const cert = new pkijs.Certificate({ schema: asn1.result });

    function formatRDN(rdn) {
      return rdn.typesAndValues.map(tv => tv.value.valueBlock.value).join(', ');
    }

    function formatDate(date) {
      return date.toLocaleString();
    }

    const serialHex = Array.from(cert.serialNumber.valueBlock.valueHex)
      .map(b => b.toString(16).padStart(2, '0')).join('').toUpperCase();

    const now = new Date();
    const isValid = now >= cert.notBefore.value && now <= cert.notAfter.value;

    const validIcon = `
<span class="inline-flex items-center whitespace-nowrap rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset bg-emerald-50 text-emerald-900 ring-emerald-600/20 dark:bg-emerald-400/10 dark:text-emerald-500 dark:ring-emerald-400/20 gap-2"><span class="bg-emerald-500 dark:bg-emerald-500 size-2 rounded-sm" aria-hidden="true"></span>Valid</span>
    `;
    const invalidIcon = `
<span class="inline-flex items-center whitespace-nowrap rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset bg-rose-50 text-rose-900 ring-rose-600/20 dark:bg-rose-400/10 dark:text-rose-500 dark:ring-rose-400/20 gap-2"><span class="bg-rose-500 dark:bg-rose-500 size-2 rounded-sm" aria-hidden="true"></span>Invalid</span>
    `;

    const html = `
      <p class="flex items-center"><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Status:</span> ${isValid ? validIcon : invalidIcon}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Valid From:</span> ${formatDate(cert.notBefore.value)}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Valid To:</span> ${formatDate(cert.notAfter.value)}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Issuer:</span> ${formatRDN(cert.issuer)}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Subject:</span> ${formatRDN(cert.subject)}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Serial Number:</span> ${serialHex}</p>
      <p><span class="pr-2 text-sm text-gray-600 dark:text-gray-400">Signature Algorithm:</span> ${cert.signatureAlgorithm.algorithmId}</p>
    `;

    document.getElementById('certData').innerHTML = html;
  }
</script>








                                {% else %}
                                <p class="mt-3 flex items-end"><span class="text-3xl font-semibold text-gray-900 dark:text-gray-50">No Certificate!</span></p>
                                {% endif %}
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500">
            <div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div>
        </div>

        <section aria-labelledby="files">
            <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
                <div>
                    <h2 id="files" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Files</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-500">View current certificate files.</p>
                </div>
                <div class="md:col-span-2">
                    <div class="grid grid-cols-1 gap-4">
                        <div class="relative w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 !p-4 hover:bg-gray-50 hover:dark:bg-gray-900">
                            <p class="text-sm text-gray-500 dark:text-gray-500">Certificate Files:</p>
                            <p class="mt-3 flex items-end">
                                {% if keys %}
                                    <div x-data="{ showFiles: false }">
                                    <a href="#" 
                                        x-show="!showFiles"
                                        @click.prevent="showFiles = true" 
                                        class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 gap-x-0.5 whitespace-nowrap sm:w-fit" 
                                        id="view-cert">
                                        View Files
                                    </a>

                                    <div x-show="showFiles" 
                                        class="p-4 mt-4 border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-full max-h-64 overflow-y-auto"
                                        style="display: none;">
                                        <pre class="text-xs overflow-y-auto" id="certCode">{{ keys }}</pre>
                                    </div>
                                 {% else %}
                                 No Files                          
                                {% endif %}
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500">
            <div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div>
        </div>




<section aria-labelledby="logs" x-data="logViewer()">
  <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">

    <div>
      <h2 id="logs" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Logs</h2>
      <p class="mt-1 text-sm leading-6 text-gray-500">View logs for the service.</p>
    </div>

    <div class="space-y-6 md:col-span-2">
      <div
        class="p-4 relative w-full rounded-lg border text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 overflow-hidden">
        <div class="flex justify-between items-center">
          <button @click="fetchLogs" x-text="buttonText" :disabled="loading" class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 gap-x-0.5 whitespace-nowrap sm:w-fit" id="service-log"></button>

          <span class="text-sm text-gray-500">docker logs --tail 1000 caddy 2>&1  | grep "{{ domain_name }}" | grep -Ei 'tls|acme|certificate|renew|obtain|challenge'</span>
        </div>

        <div
          x-show="showLogs"
          x-transition
          class="p-4 mt-4 border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-full max-h-64 overflow-y-auto"
          id="log-container"
        >
          <pre id="log-content" x-text="logContent"></pre>
        </div>
      </div>
    </div>
  </div>

  <script>
    const domainName = "{{ domain_name }}";

    document.addEventListener('alpine:init', () => {
      Alpine.data('logViewer', () => ({
        showLogs: false,
        logContent: '',
        buttonText: "View SSL logs",
        loading: false,

        async fetchLogs() {
        this.loading = true;
        this.buttonText = "Loading...";
        
        try {
            const response = await fetch(`/domains/ssl/${domainName}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            body: new URLSearchParams({ action: 'logs' })
            });

            if (!response.ok) throw new Error('Request failed');

            const data = await response.json();

            const filteredLines = data.logs
            .split('\n')
            .filter(line => line.trim().startsWith('{'));

            this.logContent = filteredLines.join('\n') || "No logs available.";
            this.buttonText = "Click to refresh";
        } catch (error) {
            console.error("Fetch error:", error);
            this.logContent = "No logs.";
            this.buttonText = "Click to retry";
        } finally {
            this.showLogs = true;
            this.loading = false;
        }
        }
      }));
    });
  </script>

</section>



        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500">
            <div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div>
        </div>
        <section aria-labelledby="custom">
                <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">

                    <div>
                        <h2 id="custom" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Configure custom SSL</h2>
                        <p class="mt-1 text-sm leading-6 text-gray-500">Insert paths to certificate files to be used for this domain. Files must already be uploaded to user's files (under <code>/var/www/html/</code>)</p>
                    </div>

                    <div class="space-y-6 md:col-span-2">
                        <div class="p-4 relative w-full rounded-lg border text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 overflow-hidden">

    <form class="mt-8" method="POST" action="/domains/ssl">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">

            <div class="col-span-full">
                    <input type="hidden" name="action" value="custom">
                    <input
                        type="hidden"
                        id="domain_name"
                        name="domain_name"
                        value="{{ domain_name }}"
                        required
                    />


                <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="public_path"> Path to Certificate:<span class="text-red-500 dark:text-red-500">*</span></label>
                <div class="relative w-full mt-2">
                    <input
                        type="text"
                        class="relative block w-full appearance-none rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden"
                        id="public_path"
                        name="public_path"
                        placeholder="/var/www/html/path/to/cert.crt"
                        required
                    />
                </div>


                <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="private_path"> Path to Certificate key:<span class="text-red-500 dark:text-red-500">*</span></label>
                <div class="relative w-full mt-2">
                    <input
                        type="text"
                        class="relative block w-full appearance-none rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden"
                        id="private_path"
                        name="private_path"
                        placeholder="/var/www/html/path/to/cert.key"
                        required
                    />
                </div>


            </div>
        </div>

        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>




<div class="md:flex items-center md:justify-end md:space-x-4">
    <button
        class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0"
        type="submit"
    >
        Configure Custom Certificate
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
    </button>
</div>

    </form>

                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>

<!-- END templates/domains/ssl.html -->
{% endblock %}
