<div
    class="p-6 flex items-center justify-center rounded-md border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-800"
>
    <div class="text-center">
        <svg
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            aria-hidden="true"
            class="remixicon mx-auto size-7 text-gray-400 dark:text-gray-600"
        >
            <path d="M3 12H7V21H3V12ZM17 8H21V21H17V8ZM10 2H14V21H10V2Z"></path>
        </svg>
        <p class="mt-2 font-medium text-gray-900 dark:text-gray-50">Is MySQL running?</p>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-500">Error Establishing a Database Connection</p>
        <div class="mt-8 sm:flex sm:items-center sm:justify-center gap-x-3">
            <a
                href="/services"
                class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400 w-full sm:w-fit"
                >View Service Status</a
            ><a
                href="https://openpanel.com/docs/articles/databases/error-establishing-a-database-connection"
                target="_blank"
                class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full gap-1 sm:mt-0 sm:w-fit"
                >Troubleshooting Guide<svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    aria-hidden="true"
                    class="remixicon size-5 shrink-0"
                >
                    <path
                        d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
                    ></path></svg
            ></a>
        </div>
    </div>
</div>
