{% extends 'base.html' %}

{% block content %}

<div x-data="{ searchQuery: '', filters: { active: false, suspended: false } }">
    <div x-data="{ showSection: false, fileContent: '' }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Process Manager</h1>
                    <h2 class="text-sm font-medium text-slate-500">strace -p <code>{{pid}}</code></h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                
                <div class="toast-container position-fixed bottom-0 end-0 p-2">
                    <button onclick="controller.abort()" class="hidden btn btn-danger">Stop Tracing</button>
</div>
                </div>
            </div>
        </header>
    </div>

    <div class="">
        <div class="space-y-3">
            <pre class="relative text-xs p-4" id="stream">

            </pre>
        </div>
    </div>
</div>




<script>
document.addEventListener("DOMContentLoaded", () => {
    const streamEl = document.getElementById('stream');
    const pid = "{{ pid }}";

    const eventSource = new EventSource(`/server/processes/${pid}/strace?output=stream`);
    let controller = new AbortController();

    fetch(`/server/processes/${pid}/strace?output=stream`, { signal: controller.signal })
        .then(response => {
            const reader = response.body.getReader();
            const decoder = new TextDecoder("utf-8");

            function readChunk() {
                reader.read().then(({ done, value }) => {
                    if (done) {
                        console.log("Stream complete");
                        return;
                    }

                    const text = decoder.decode(value);
                    streamEl.textContent += text;
                    streamEl.scrollTop = streamEl.scrollHeight;

                    readChunk();
                });
            }

            readChunk();
        })
        .catch(err => {
            streamEl.textContent += "\n[Error fetching strace stream]";
            console.error(err);
        });
});
</script>


{% endblock %}
