/*

This custom CSS code file is loaded in header of every OpenAdmin templates except the /login and /api/

https://getbootstrap.com/docs/5.3/customize/color-modes/#variables

$prefix = tblr

EXAMPLES:

:root {
  --tblr-primary: green;
  --tblr-primary-rgb: 0,128,0;
}

*/

