{% extends 'base.html' %}

{% block content %}

<div x-data="{ searchQuery: '', filters: { active: false, suspended: false } }">

    <div class="bg-gray-50 px-4 pt-4 dark:bg-gray-950 sm:px-6 lg:px-8 sm:pt-6 lg:pt-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">FTP</h1>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
<div class="flex text-center  sm:text-start items-center gap-2"><dt class="text-sm text-gray-500 dark:text-gray-500">FTP service status:</dt>
<div class="flex gap-0.5">
	{% if ftpserver_status == 'active' or ftpserver_status == 'running' %}
	<div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
	<div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
	<div class="h-3.5 w-1 rounded-sm bg-emerald-500 dark:bg-emerald-500"></div>
	</div><p class="text-lg font-semibold text-gray-900 dark:text-gray-50">active </p></div>
	{% else %}
	<div class="h-3.5 w-1 rounded-sm bg-gray-500 dark:bg-gray-500"></div>
	<div class="h-3.5 w-1 rounded-sm bg-gray-500 dark:bg-gray-500"></div>
	<div class="h-3.5 w-1 rounded-sm bg-gray-500 dark:bg-gray-500"></div>
	</div><p class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{ ftpserver_status }} </p></div>
	{% endif %}
</div>
        </div>
    </header>
    </div>

	<nav aria-label="Tabs" data-orientation="horizontal" dir="ltr">
		<div style="position: relative;">
			<ul data-orientation="horizontal" class="flex bg-gray-50 dark:bg-gray-950 items-center justify-start whitespace-nowrap border-b [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden border-gray-200 dark:border-gray-800 pt-6 gap-x-4 px-4 sm:px-6" dir="ltr">


			<li class="flex">
				<a 
					href="/services/ftp"
					class="group relative flex shrink-0 select-none items-center justify-center"
					role="tab">
						<span
							class="-mb-px flex items-center justify-center whitespace-nowrap border-b-2 border-transparent px-3 pb-2 text-sm transition-all text-gray-500 dark:text-gray-500 group-hover:text-gray-700 group-hover:dark:text-gray-400 group-hover:border-gray-300 group-hover:dark:border-gray-400 group-data-[active]:border-blue-500 group-data-[active]:text-blue-500 group-data-[active]:dark:border-blue-500 group-data-[active]:dark:text-blue-500 outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500"
						>
							Accounts
						</span>
				</a>
			</li>

				<li class="flex">
				<button 
					class="border-b-2 border-blue-600 text-blue-600 group relative flex shrink-0 select-none items-center justify-center"
					role="tab">
	<span
							class="-mb-px flex items-center justify-center whitespace-nowrap border-b-2 border-transparent px-3 pb-2 text-sm transition-all text-gray-500 dark:text-gray-500 group-hover:text-gray-700 group-hover:dark:text-gray-400 group-hover:border-gray-300 group-hover:dark:border-gray-400 group-data-[active]:border-blue-500 group-data-[active]:text-blue-500 group-data-[active]:dark:border-blue-500 group-data-[active]:dark:text-blue-500 outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500"
						>
							Configuration
						</span>            </button>                    
				</li>

			</ul>
		</div>
	</nav>





            <form method="POST" class="space-y-4 p-4">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <textarea id="config_content" name="config_content" rows="30" class="flex min-h-[4rem] w-full rounded-md border px-3 py-1.5 shadow-sm outline-none transition-colors sm:text-sm text-gray-900 dark:text-gray-50 border-gray-300 dark:border-gray-800 bg-white dark:bg-gray-950 placeholder-gray-400 dark:placeholder-gray-500 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-300 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700">{{ftp_content}}</textarea>

                <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400" type="submit">Save Configuration</button>
            </form>

{% endblock %}
