{% extends 'base.html' %}

{% block content %}

<form method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<div x-data="{ searchQuery: '' }">
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Service Limits</h1>
                    <h2 class="text-sm font-medium text-slate-500">Edit allocated CPU and Memory resources for system services.</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                    <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400" type="submit">Save</button>
                </div>
            </div>
        </header>
    </div>

  <div class="m-8">

  <!-- PHP_FPM versioned keys -->


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="services" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Services</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Configure service versions, CPU & Memory limits and other defaults.
        </p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="col-span-full">
                <div class="relative w-full mt-2">

                    <div class="row form-selectgroup form-selectgroup-boxes d-flex">
                        <div class="mt-4 grid grid-cols-1 gap-4">



  <!-- Each other group as separate fieldset -->
  {% for group_key, group_values in defaults.items() %}
    {% if group_key not in ['DEFAULTS', 'PHP_FPM'] %}


    <div class="border rounded p-4 mb-4 bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900">
      <h3 class="font-semibold">{{ group_key }}</h3>
      <div class="grid grid-cols-2 gap-4">
        {% for subkey, value in group_values.items() %}

  {% if subkey.endswith('CPU') or subkey.endswith('CPUS') %}
        <label class="block">
          <span class="text-gray-700">CPU:</span>
          <input type="number" min="0" step="0.001" name="{{ group_key }}_{{ subkey }}" value="{{ value[:-1] if value.endswith('G') else value }}" required
                 class="relative block w-full appearance-none truncate rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&::--webkit-search-cancel-button]:hidden [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden" />
        </label>
  {% elif subkey.endswith('RAM') %}
        <label class="block">
          <span class="text-gray-700">Memory:</span>
          <input type="number" min="0" step="0.001" name="{{ group_key }}_{{ subkey }}" value="{% if value.endswith('g') or value.endswith('G') %}{{ value[:-1] }}{% else %}{{ value }}{% endif %}" required class="relative block w-full appearance-none truncate rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&::--webkit-search-cancel-button]:hidden [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden" />
        </label>
  {% else %}
  
        <label class="block">
          <span class="text-gray-700">{{ subkey.replace('_', ' ').title() }}:</span>
      {% if value|string|lower == 'true' or value|string|lower == 'false' %}
<select name="{{ group_key }}_{{ subkey }}" class="group/trigger flex w-full select-none items-center justify-between gap-2 truncate rounded-md border px-3 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 data-[placeholder]:text-gray-500 data-[placeholder]:dark:text-gray-500 bg-white dark:bg-gray-950 hover:bg-gray-50 hover:dark:bg-gray-950/50 data-[disabled]:bg-gray-100 data-[disabled]:text-gray-400 data-[disabled]:dark:border-gray-700 data-[disabled]:dark:bg-gray-800 data-[disabled]:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 mt-2" required>
   <option value="true" {% if value|string|lower == 'true' %}selected{% endif %}>True</option>
    <option value="false" {% if value|string|lower == 'false' %}selected{% endif %}>False</option>
  </select>
    {% else %}
          <input type="text" name="{{ group_key }}_{{ subkey }}" value="{{ value }}" required
                 class="relative block w-full appearance-none truncate rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&::--webkit-search-cancel-button]:hidden [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden" />
  {% endif %}

        </label>
  {% endif %}


        {% endfor %}
      </div>
    </div>

    {% endif %}
  {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

   
</div>
</div>
</form>
{% endblock %}


