{% extends 'base.html' %}

{% block content %}


<form method="post" id="general_form" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div>
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">General settings</h1>
                    <h2 class="text-sm font-medium text-slate-500">Configure domain and port for accessing panels.</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">

            <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400"
                    type="submit">Save settings</button>

                </div>
            </div>
        </header>
    </div>

{% import "macros.html" as macros %}


  <div class="m-8">

<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="domain" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Domain</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Configure custom domain for accessing panels.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">



<div class="col-span-full">

  <div class="relative w-full mt-2">
    

<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
  
        <div class="flex w-full flex-col justify-between"><div>

            <span class="flex">{{ macros.tooltip('domain_name', 'Hostname', 'Set a custom domain or IP address on which OpenPanel and OpenAdmin will be accessible with https://DOMAIN_OR_IP:PORT/', required=True) }}</span>

        <p class="mt-1 text-sm text-gray-500 dark:text-gray-500"><input type="text" class="relative block w-full appearance-none truncate rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&::--webkit-search-cancel-button]:hidden [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden" name="force_domain" placeholder="srv.example.net" {% if force_domain %} value="{{ force_domain }}" {% endif %}></p>
        
        </div></div>
                </div>
    
    </div>
</div>


        </div>
    </div>
</div>

<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="ports" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Ports</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Make sure to open ports on the firewall.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div x-data="{ admin_port: '{{ admin_port }}' }" class="col-span-full sm:col-span-3">

            <span class="flex">{{ macros.tooltip('2087_port', 'OpenAdmin port', 'Set port on which OpenAdmin (admin-level panel) will be accessible - default is 2087', required=False) }}</span>


                <div class="relative w-full mt-2"><input class="relative block w-full appearance-none truncate rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&amp;::--webkit-search-cancel-button]:hidden [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" type="number" x-model="admin_port" class="form-control ps-0" name="2087_port" autocomplete="off" value="{{ admin_port }}" placeholder="2087"  min="1000" max="30000"></div>

    <div x-show="admin_port != 2087" class="mt-4">
        <p class="text-xs text-gray-500">
            If using a custom port for admin panel, make sure to open it on the firewall.
        </p>
    </div>

            </div>



            <div x-data="{ port: '{{ port }}' }" class="col-span-full sm:col-span-3">

            <span class="flex">{{ macros.tooltip('2083_port', 'OpenPanel port', 'Set port on which OpenPanel (end-user panel) will be accessible - default is 2083', required=False) }}</span>


                <div class="relative w-full mt-2"><input class="relative block w-full appearance-none truncate rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&amp;::--webkit-search-cancel-button]:hidden [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" type="number" x-model="port" class="form-control ps-0" name="2083_port" autocomplete="off" value="{{ port }}" placeholder="2083"  min="1000" max="30000"></div>

    <div x-show="port != 2083" class="mt-4">
        <p class="text-xs text-gray-500">
            If using a custom port for user panel, make sure to open it on the firewall.
        </p>
    </div>

            </div>

        </div>
    </div>
</div>



<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3 pb-6">
    <div>
        <h2 id="redirect" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Redirect</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Rename /openpanel redirect to match your brand.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="col-span-full sm:col-span-3">

            <span class="flex">{{ macros.tooltip('openpanel_proxy', '/openpanel', 'Set proxy path that will on every user domain redirect to OpenPanel - default is /openpanel', required=False) }}</span>

                <div class="relative w-full mt-2"><input class="relative block w-full appearance-none truncate rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&amp;::--webkit-search-cancel-button]:hidden [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" type="text" class="form-control ps-0" name="openpanel_proxy" autocomplete="off" placeholder="openpanel" value="{% if proxy %}{{ proxy }}{% endif %}"></div>
            </div>
        </div>
    </div>
</div>


<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3 pb-6" x-data="{
        devmode: {{ 'true' if dev_mode == 'on' else 'false' }},
        initialDevmode: {{ 'true' if dev_mode == 'on' else 'false' }}
     }">
    <div>
        <h2 id="devmode" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Debugging (Dev Mode)</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Enable verbose logging for error diagnostics.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="col-span-full sm:col-span-3">

            <span class="flex">{{ macros.tooltip('dev_mode', 'Dev mode', 'Enable detailed logging for OpenPanel and OpenAdmin. View the logs under Services > View Log Files', required=False) }}</span>

    <div class="relative w-full mt-2 flex-grow flex items-center space-x-3">
        <button
            type="button"
            role="switch"
            :aria-checked="devmode.toString()"
            @click="devmode = !devmode"
            :class="devmode ? 'bg-indigo-600 dark:bg-indigo-600' : 'bg-gray-200 dark:bg-gray-950'"
            class="group relative isolate inline-flex shrink-0 cursor-pointer items-center rounded-full p-0.5 shadow-inner ring-1 ring-inset transition-all ring-black/5 dark:ring-gray-800 outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 h-5 w-9"
        >
            <span
                :class="devmode ? 'translate-x-4' : 'translate-x-0'"
                class="pointer-events-none relative inline-block transform appearance-none rounded-full border-none shadow-lg outline-none transition-all duration-150 ease-in-out bg-white dark:bg-gray-50 h-4 w-4"
            ></span>
        </button>

        <!-- Label -->
        <span class="text-sm text-gray-900 dark:text-gray-500" x-text="devmode ? 'Enabled' : 'Disabled'"></span>

        <!-- Hidden input -->
        <input type="hidden" name="dev_mode" :value="devmode ? 'on' : 'off'">

    </div>
    <p class="pt-2 text-xs text-gray-500" x-show="devmode.toString() !== initialDevmode.toString()" x-transition>
        NOTE: After saving, OpenAdmin restart is needed to display new value.
    </p>
            </div>
        </div>
    </div>
</div>

</form>


{% endblock %}
