{% extends 'base.html' %}

{% block content %}



<div x-data="{ searchQuery: '' }">
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Update Settings</h1>
                    <h2 class="text-sm font-medium text-slate-500">Configure update preferences, view logs and rollback.</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">

                {% if latest_version > panel_version %}
                <form method="POST" action="/settings/updates/update_now">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400">Update Now</button>
                </form>
                {% endif %}

                </div>
            </div>
        </header>
    </div>

  <div class="m-8">



<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="version" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Current version</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Update manually to latest version.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">



<div class="col-span-full">

<div class="md:col-span-2">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
        <div class="col-span-full sm:col-span-6">
            <div class="relative w-full mt-2">
                



<div class="md:col-span-2">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
        <div class="col-span-full sm:col-span-3"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="installed">Installed version</label>
            <div class="relative w-full mt-2">{{ panel_version }}
            </div>
            <div class="mt-4">
                <p class="text-xs text-gray-500"></p>
            </div>
        </div>
        <div class="col-span-full sm:col-span-3"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="latest">Latest version</label>
            <div class="relative w-full mt-2">{{ latest_version }}</div>
        </div>
    </div>
</div>

                    </div>
        </div>

    </div>
</div>


</div>


        </div>
    </div>
</div>




<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>



<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="settings" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Auto Updates</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Configure auto-update preferences.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">



<div class="col-span-full">
  <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="first-name">Update automatically</label>

<form method="post" id="general_form" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<div class="col-span-full sm:col-span-3">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
        <div class="col-span-full sm:col-span-6">
            <div class="relative w-full mt-2">
                <select name="preference" class="group/trigger flex w-full select-none items-center justify-between gap-2 truncate rounded-md border px-3 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 data-[placeholder]:text-gray-500 data-[placeholder]:dark:text-gray-500 bg-white dark:bg-gray-950 hover:bg-gray-50 hover:dark:bg-gray-950/50 data-[disabled]:bg-gray-100 data-[disabled]:text-gray-400 data-[disabled]:dark:border-gray-700 data-[disabled]:dark:bg-gray-800 data-[disabled]:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700">
                    <option {%if config_data['PANEL']['autoupdate'] == 'off' and config_data['PANEL']['autopatch'] == 'on'%}selected{% endif %} value="minor_only">Minor versions only (bug fixes and security patches)</option>
                    <option {%if config_data['PANEL']['autoupdate'] == 'on' and config_data['PANEL']['autopatch'] == 'on'%}selected{% endif %} value="minor_and_major">Both minor and major versions (bug fixes, security patches & new features)</option>
                    <option {%if config_data['PANEL']['autoupdate'] == 'on' and config_data['PANEL']['autopatch'] == 'off'%}selected{% endif %} value="major_only">Major versions only (new features)</option>
                    <option {%if config_data['PANEL']['autoupdate'] == 'off' and config_data['PANEL']['autopatch'] == 'off'%}selected{% endif %} value="none">Never</option>
                </select>


                    </div>
        </div>

    </div>
</div>

</div>

<div class="col-span-full mt-6 flex justify-end">
            <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400"
                    type="submit">Save</button>
</div>


</form>


        </div>
    </div>
</div>

<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>



<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="logs" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Update Logs</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">View update logs.</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">



<div class="col-span-full">

<div class="md:col-span-2">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
        <div class="col-span-full sm:col-span-6">
            <div class="relative w-full mt-2">
{% if update_logs %}
    <table class="w-full caption-bottom border-b border-gray-200 dark:border-gray-800">
        <thead>
            <tr class="border-b px-4 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 border-gray-200 dark:border-gray-800">
                <th class="p-4 text-sm font-medium text-gray-900 dark:text-gray-50">Time</th>
                <th class="p-4 text-sm font-medium text-gray-900 dark:text-gray-50">File</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
            {% for update in update_logs %}
                <tr class="[&_td:last-child]:pr-4 [&_th:last-child]:pr-4 [&_td:first-child]:pl-4 [&_th:first-child]:pl-4 even:bg-gray-50 even:dark:bg-gray-900">
                    <td class="p-4 text-sm font-medium text-gray-900 dark:text-gray-50">{{ update.human_readable_timestamp }}</td>
                    <td class="p-4 text-sm font-medium text-gray-900 dark:text-gray-50"><a class="inline-flex items-center gap-1 text-md text-blue-500 hover:underline dark:text-blue-500" href="/settings/updates/log/?log_name={{ update.file }}">{{update.log_dir}}{{ update.file }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}

    
  <label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium">No logs available.</label>

{% endif %}
                    </div>
        </div>

    </div>
</div>


</div>


        </div>
    </div>
</div>






{% endblock %}
