{% extends 'base.html' %}

{% block content %}

<!-- Page header -->
<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">Email Reports</h1>
                <h2 class="text-sm font-medium text-slate-500">No reports yet - email server is not installed.</h2>
            </div>
            <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
            </div>
        </div>
    </header>
</div>


{% include 'emails/mailserver_is_not_installed.html' %}

{% endblock %}
