{% extends 'base.html' %}

{% block content %}

<form method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<div x-data="{ searchQuery: '' }">
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Edit Defaults</h1>
                    <h2 class="text-sm font-medium text-slate-500">Edit defaults used for new OpenPanel user accounts.</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                    <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400" type="submit">Save</button>
                </div>
            </div>
        </header>
    </div>

  <div class="m-8">


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">MySQL type</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Add custom CSS to all pages in OpenPanel UI. <a href="https://dev.openpanel.com/customize.html#Custom-CSS" target="_blank" class="inline-flex items-center gap-1 text-indigo-600 hover:underline hover:underline-offset-4 dark:text-indigo-400">Learn more<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg></a>
        </p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="col-span-full">
                <div class="relative w-full mt-2">

                    <div class="row form-selectgroup form-selectgroup-boxes d-flex">
                        <div class="mt-4 grid grid-cols-1 gap-4">
                            <input type="text" id="mysql_type" name="MYSQL_TYPE" value="{{ defaults.MYSQL_TYPE or '' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="personal-information" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">PHP</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Set default PHP version. <a href="https://dev.openpanel.com/customize.html#Custom-CSS" target="_blank" class="inline-flex items-center gap-1 text-indigo-600 hover:underline hover:underline-offset-4 dark:text-indigo-400">Learn more<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg></a>
        </p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="col-span-full">
                <div class="relative w-full mt-2">

                    <div class="row form-selectgroup form-selectgroup-boxes d-flex">
                        <div class="mt-4 grid grid-cols-1 gap-4">
                              <input type="text" id="php_version" name="DEFAULT_PHP_VERSION" value="{{ defaults.DEFAULT_PHP_VERSION or '' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="personal-information" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Webserver</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Add custom CSS to all pages in OpenPanel UI. <a href="https://dev.openpanel.com/customize.html#Custom-CSS" target="_blank" class="inline-flex items-center gap-1 text-indigo-600 hover:underline hover:underline-offset-4 dark:text-indigo-400">Learn more<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg></a>
        </p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="col-span-full">
                <div class="relative w-full mt-2">

                    <div class="row form-selectgroup form-selectgroup-boxes d-flex">
                        <div class="mt-4 grid grid-cols-1 gap-4">
                            <input type="text" id="web_server" name="WEB_SERVER" value="{{ defaults.WEB_SERVER or '' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="personal-information" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">Varnish Cache</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Enable Varnish cache by default for new users. <a href="https://dev.openpanel.com/customize.html#Custom-CSS" target="_blank" class="inline-flex items-center gap-1 text-indigo-600 hover:underline hover:underline-offset-4 dark:text-indigo-400">Learn more<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg></a>
        </p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="col-span-full">
                <div class="relative w-full mt-2">

                    <div class="row form-selectgroup form-selectgroup-boxes d-flex">
                        <div class="mt-4 grid grid-cols-1 gap-4">
                            <input type="text" id="varnish" name="VARNISH" value="{{ defaults.VARNISH or '' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>








</div>        
    

</div>
</form>
{% endblock %}


