{% extends 'base.html' %}

{% block content %}


<form method="post" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div x-data="{ searchQuery: '' }">
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">Default Node Server</h1>
                    <h2 class="text-sm font-medium text-slate-500">Configure <a href="#" class="inline-flex items-center gap-1 text-sm text-indigo-600 dark:text-indigo-500" target="_blank">default node for new user accounts<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg></a> created in OpenAdmin.</h2>
    </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">

            <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500 dark:outline-indigo-500 border-transparent text-white dark:text-gray-900 bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-500 dark:hover:bg-indigo-600 disabled:bg-indigo-100 disabled:text-gray-400 disabled:dark:bg-indigo-800 disabled:dark:text-indigo-400 cursor-pointer"
                    type="submit">Save settings</button>

                </div>
            </div>
        </header>
    </div>



  <div class="m-8">


<div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
    <div>
        <h2 id="logins" class="scroll-mt-10 font-semibold text-gray-900 dark:text-gray-50">SSH Credentials</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Set IP address and path to private key to be used for SSH when creating OpenPanel accounts. Leave empty to use this server instead (default).<br>NOTE: The remote server must use Ubuntu 24.04</p>
    </div>
    <div class="md:col-span-2">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="col-span-full sm:col-span-3"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="default_node">IPv4 address</label>
                <div class="relative w-full mt-2"><input class="relative block w-full appearance-none truncate rounded-md border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-indigo-200 focus:dark:ring-indigo-700/30 focus:border-indigo-500 focus:dark:border-indigo-700 [&amp;::--webkit-search-cancel-button]:hidden [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="default_node" required autocomplete="off" value="{{ default_node }}"></div>
            </div>

            <div class="col-span-full sm:col-span-3"><label class="text-sm leading-none text-gray-900 dark:text-gray-50 font-medium" for="default_ssh_key_path">Private key</label>
                    <div class="relative w-full flex mt-2">
                        <input class="relative block w-full appearance-none border px-2.5 py-2 shadow-sm outline-none rounded-l transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" type="text" name="default_ssh_key_path" id="default_ssh_key_path" required value="{{ default_ssh_key_path }}"/>
                                                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>


</form>


{% endblock %}
