{% extends 'base.html' %}

{% block content %}


<!-- Page header -->
<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">Change TimeZone</h1>
                <h2 class="text-sm font-medium text-slate-500">Change timezone for the host OS and user panel.</h2>
            </div>
            <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
								<svg
					xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-timezone">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M20.884 10.554a9 9 0 1 0 -10.337 10.328" />
					<path d="M3.6 9h16.8" />
					<path d="M3.6 15h6.9" />
					<path d="M11.5 3a17 17 0 0 0 -1.502 14.954" />
					<path d="M12.5 3a17 17 0 0 1 2.52 7.603" />
					<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
					<path d="M18 16.5v1.5l.5 .5" />
				</svg> Current timezone:  <b>{{ current_timezone }}</b>
            </div>
        </div>
    </header>
</div>



<div id="collapseAddNewUser">
    <div id="create_user_form" class="sm:mx-auto sm:max-w-2xl" style="display:block;">
                                <form method="POST" class="mt-8">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

                <div class="col-span-full">
                    	<label for="timezone">Select Timezone:</label>
                    <div class="relative w-full flex mt-2">
										<select name="timezone" id="timezone" class="group/trigger flex w-full select-none items-center justify-between gap-2 truncate rounded-md border px-3 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 data-[placeholder]:text-gray-500 data-[placeholder]:dark:text-gray-500 bg-white dark:bg-gray-950 hover:bg-gray-50 hover:dark:bg-gray-950/50 data-[disabled]:bg-gray-100 data-[disabled]:text-gray-400 data-[disabled]:dark:border-gray-700 data-[disabled]:dark:bg-gray-800 data-[disabled]:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700">
                  {% for timezone in available_timezones %}
                      
											<option value="{{ timezone }}" {% if timezone == selected_zone_goes_here %}selected{% endif %}>{{ timezone }}</option>
                  {% endfor %}
              
										</select>
                    </div>
					<small class="form-hint">After change, <b>we recommend to restart the server</b> or at least the OpenAdmin and Cron services: <code>systemctl restart admin cron</code></small>
                </div>

</div>

            <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

            <div class="flex items-center justify-end space-x-4">
                <button type="submit" class="relative inline-flex items-center justify-center whitespace-nowrap rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400">Change Timezone</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}
