{% extends 'base.html' %}

{% block content %}
        
<!-- Page header -->
<div class="page-header mt-0 d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">Enterprise</div>
				<h2 class="page-title">License</h2>
			</div>
			<!-- Page title actions -->
			<div id="license-alerts" class="col-auto ms-auto">

			</div>
		</div>
	</div>
</div>
<!-- Page body -->
<div class="page-body">
	<div class="container-xl">
		<div class="row row-deck row-cards">
			<div class="col-lg-12">
				<div class="row row-cards">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h3 class="card-title">License key</h3>
								<p class="card-subtitle">Enter your OpenPanel Enterprise license key to unlock premium features.</p>
								<form id="license-form" method="POST">
									    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

									<div class="input-icon">
										<input type="text" name="key" id="license-key" class="form-control" required placeholder="enterprise-XXXXXXXXXXXXX" value="{{key}}">
											<span class="input-icon-addon"></span>
										</div>
									</div>
									<div class="card-footer">
										<div class="row align-items-center">
											<div class="col">Copy your license key from 
												<a href="https://my.openpanel.com/clientarea.php?action=products" target="_blank">https://my.openpanel.com/clientarea.php?action=products</a>
											</div>
											<div class="col-auto">
												<button id="save_license_btn" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Save license key and restart OpenPanel&OpenAdmin interfaces" data-bs-original-title="Save license key and restart OpenPanel&OpenAdmin interfaces"  class="btn btn-primary" type="submit">Save key</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="license_info" class="col-lg-6 d-none">
							<div class="card">
								<div class="card-body">
									<h3 class="card-title">License Info</h3>
									<p class="card-subtitle"></p>
									<div id="license_data"></div>
									<div class="row justify-center g-2">
										<div class="col-auto">
											<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Verify Enterprise license" data-bs-original-title="Verify Enterprise license" class="btn btn-outline-success btn-verify {% if not key %}d-none{% endif %}">
												<svg
													xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-reload">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
													<path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" />
													<path d="M20 4v5h-5" />
												</svg> Re-Verify
                        
											</a>
										</div>
										<div class="col-auto">
											<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Remove license and Enterprise features" data-bs-original-title="Remove license and Enterprise features" class="btn btn-outline-danger w-100 btn-downgrade {% if not key %}d-none{% endif %}">
												<svg
													xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trending-down-2">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
													<path d="M3 6h5l7 10h6" />
													<path d="M18 19l3 -3l-3 -3" />
												</svg> Downgrade
                        
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='pages/license.js') }}" defer></script>

{% endblock %}
