{% extends 'base.html' %}
{% block content %}
<!-- templates.html -->
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
{{ message }}
<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
</div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        <!-- Page header -->
        <div class="page-header mt-0 d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Settings
                </div>
                <h2 class="page-title">
                  Templates
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <a href="#" id="post_to_disable_api_access" class="btn btn-primary">Save</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">

<div class="container-xl">

            <div class="row row-cards">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Default Domain File
                      </h3>
                      <p class="card-subtitle">
                        Default index.html created for every domain that users add.
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
HTML CODE HEREEEE

                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        DNS zone Template
                      </h3>
                      <p class="card-subtitle">
                        DNS records that will be added for all new domains.
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Can not be empty!">
$TTL 1h
@       IN      SOA     {ns1}. {ns2}. (
                        23         ; Serial number
                        1h              ; Refresh interval
                        15m             ; Retry interval
                        1w              ; Expire interval
                        1h )            ; Minimum TTL

@ IN NS      {ns1}.
@ IN NS      {ns2}.

ns1     14400     IN      A       {server_ip}
ns2     14400     IN      A       {server_ip}

{domain}.     14400     IN      A       {server_ip}

www     14400     IN      CNAME   {domain}.

mail    14400     IN      A       {server_ip}


                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        OpenPanel Dashboard Message
                      </h3>
                      <p class="card-subtitle">
                        Display custom notification to all OpenPanel users on their dashboard.
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
HTML CODE HEREEEE

                    </textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Knowledge Base links
                      </h3>
                      <p class="card-subtitle">
                        Custom Knowledge Base links for the OpenPanel Dashboard
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
{
    "how_to_topics": [
        {"title": "How to install WordPress", "link": "https://openpanel.co/docs/panel/applications/wordpress#install-wordpress"},
        {"title": "Publishing a Python Application", "link": "https://openpanel.co/docs/panel/applications/pm2#python-applications"},
        {"title": "How to edit Nginx / Apache configuration", "link": "https://openpanel.co/docs/panel/advanced/server_settings#nginx--apache-settings"},
        {"title": "How to create a new MySQL database", "link": "https://openpanel.co/docs/panel/databases/#create-a-mysql-database"},
        {"title": "How to add a Cronjob", "link": "https://openpanel.co/docs/panel/advanced/cronjobs#add-a-cronjob"},
        {"title": "How to change server TimeZone", "link": "https://openpanel.co/docs/panel/advanced/server_settings#server-time"}
    ],
    "knowledge_base_link": "https://openpanel.co/docs/panel/intro/?source=openpanel_server"
}


                    </textarea>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Custom CSS for OpenPanel
                      </h3>
                      <p class="card-subtitle">
                        Custom CSS that will be loaded on all pages on OpenPanel
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">

                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Custom JS for OpenPanel
                      </h3>
                      <p class="card-subtitle">
                        Custom JS that will be loaded on all pages on OpenPanel
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">

                    </textarea>
                  </div>
                </div>
              </div>



              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Custom HTML in OpenPanel header
                      </h3>
                      <p class="card-subtitle">
                        Custom HTML code that will be added in OpenPanel template header section
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">

                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Custom HTML in OpenPanel footer
                      </h3>
                      <p class="card-subtitle">
                        Custom HTML code that will be added in OpenPanel template footer section
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">

                    </textarea>
                  </div>
                </div>
              </div>

















              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        Admin Emails Template
                      </h3>
                      <p class="card-subtitle">
                        Template for email alerts from OpenAdmin > Notification Center
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
HTML CODE HEREEEE

                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        FTP Welcome message
                      </h3>
                      <p class="card-subtitle">
                        Displayed to all FTP users after FTP-login. 
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
/etc/vsftpd/banner.txt
                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        SSH Welcome Message
                      </h3>
                      <p class="card-subtitle">
                        Displayed to all server users after SSH-login.
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
================================================================

This server has installed OpenPanel 🚀

OPENADMIN LINK: http://161.35.195.144:2087

Need assistance or looking to learn more? We've got you covered:
        - 📚 Admin Docs: https://openpanel.co/docs/admin/intro/
        - 💬 Forums: https://community.openpanel.co/
        - 👉 Discord: https://discord.openpanel.co/

================================================================
                    </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">
                        SSH Welcome message for OpenPanel users
                      </h3>
                      <p class="card-subtitle">
                        Displayed to all OpenPanel users after SSH-login.
                      </p>
                    </div>
                    <div class="card-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Restore Default</a>
                          <a class="dropdown-item text-danger" href="#">Leave empty</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <textarea class="form-control" name="example-textarea-input" rows="15" placeholder="Leave empty to disable..">
================================================================

This server has installed OpenPanel 🚀

OPENPANEL LINK: http://161.35.195.144:2083

Need assistance or looking to learn more? We've got you covered:
        - 📚 User Docs: https://openpanel.co/docs/user/intro/
        - 💬 Forums: https://community.openpanel.co/
        - 👉 Discord: https://discord.openpanel.co/

================================================================
                    </textarea>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>

<script src="{{ url_for('static', filename='pages/templates.js') }}" defer></script>

</div>

{% endblock %}
