<!-- users.html -->
{% extends 'base.html' %}

{% block content %}

<style>
.suspended-user-row {
  //background-color: #f4c6cb;
  background-color: rgba(var(--tblr-secondary-rgb),.08);
  border-left: .25rem var(--tblr-border-style) red;
}

/* Styles specific to dark theme */
body[data-bs-theme="dark"] .suspended-user-row {
  background-color: rgb(68, 55, 57);
}

.people-item {
  padding:1em;
}

</style>  




<div class="collapse mb-4 card" id="collapseAddNewUser">



                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a href="#tabs-create-user" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab" tabindex="-1"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M16 19h6" /><path d="M19 16v6" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /></svg> &nbsp; Create User</a>
                      </li>
                      
                      <li class="nav-item" role="presentation">
                        <a href="#tabs-import-user" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4c.342 0 .674 .043 .99 .124" /><path d="M19 16v6" /><path d="M22 19l-3 3l-3 -3" /></svg> &nbsp; Import User</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="tabs-create-user" role="tabpanel">

                        <!-- Form for adding new users -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <h2 class="mb-3">Create a New User</h2>
                                    <p></p>
                                    <form id="userForm">
                        <div class="form-group">
                            <label for="admin_email">Email address:</label>
                            <input type="email" class="form-control" name="admin_email" id="admin_email" required>
                        </div>
                            <div class="form-group">
                                <label for="plan_name">Plan:</label>
                                <div class="input-group">
                        <select class="form-select" size="3" name="plan_name" id="plan_name" aria-label="size 3 select plan_name" required>
                            {% for plan in plans %}
                                <option value="{{ plan.name }}" {% if loop.first %}selected{% endif %}>{{ plan.name }} - {{ plan.description }} (docker image: {{ plan.docker_image }})</option>
                            {% endfor %}
                        </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="admin_username">Username:</label>
                                    <input type="text" class="form-control" name="admin_username" id="admin_username" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="admin_password">Password:</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="admin_password" id="admin_password">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" id="generatePassword">
                                                Generate
                                            </button>
                                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24" style="margin:0;"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        <br>
                        <button type="button" class="btn btn-primary" id="CreateUserButton">Create User</button>

                        </form>


                                </div>
                            </div>
                        </div>



                      </div>
                      <div class="tab-pane" id="tabs-import-user" role="tabpanel">

                        <!-- Form for importing users -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <h2 class="mb-3">Import User from cPanel <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span></h2>
                                    <p></p>
                                    <form id="userimportForm" method="POST" action="/import/cpanel">
                        <div class="form-group">
                            <label for="admin_email">Backup file:</label>
                            <input type="text" class="form-control" id="path" name="path" required>
                        </div>
                            <div class="form-group">
                                <label for="plan_name">Plan:</label>
                                <div class="input-group">
                        <select class="form-select" size="3" name="plan_name" id="plan_name" aria-label="size 3 select plan_name" required>
                            {% for plan in plans %}
                                <option value="{{ plan.name }}" {% if loop.first %}selected{% endif %}>{{ plan.name }} - {{ plan.description }} (docker image: {{ plan.docker_image }})</option>
                            {% endfor %}
                        </select>
                                </div>
                            </div>

                        <br>
                        <button type="submit" class="btn btn-primary" id="ImportUserButton">Import from Backup</button>

                        </form>
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
</div>



{% if users %}

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="message {% if message.success %}success{% else %}error{% endif %}">
                {{ message.message }}
            </div>
        {% endfor %}
    {% endwith %}



<div class="modal" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="responseModalLabel">Response</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="responseModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">User Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/users/edit" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="old_user" name="user" required hidden>
                <label for="new_user">Username:</label>
                <input type="text" class="form-control" id="new_user" name="new_user" required>
            </div>

            <div class="form-group">
                <label for="new_email">Email:</label>
                <input type="email" class="form-control" id="new_email" name="new_email" required>
            </div>

            <div class="form-group">
                <label for="new_password">Password:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>

            <div class="form-group">
                <label for="new_plan_name">Plan ID:</label>
                <input type="text" class="form-control" id="new_plan_name" name="new_plan_name" required>
            </div>

            <div class="form-group">
                <label for="new_ip">IP Address:</label>
                <input type="text" class="form-control" id="new_ip" name="new_ip" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


<!-- Modal for confirmation delete -->
<div class="modal" tabindex="-1"  aria-hidden="true" id="deleteConfirmationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user <strong id="usernameToDelete"></strong>?</p>
      </div>
      <div class="modal-footer">
      <form action="/user/delete" method="POST">
         <input type="text" class="form-control" id="usernameToDeletehidden" name="username" hidden>
         <button type="submit" class="btn btn-danger">Delete</button>      
        </form>
 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

      <div class="page-wrapper">
        <!-- Page header -->
<div class="page-header mt-0 d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  OpenPanel
                </div>
                <h2 class="page-title">
                  Users
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                        </span>
                        <input type="text" id="userSearchInput" class="form-control" placeholder="Search users…" aria-label="Search in website">

                      </div>
                  </span>


                  <a href="#" id="addUserButton" class="btn btn-primary d-sm-inline-block" data-bs-toggle="collapse" data-bs-target="#collapseAddNewUser" aria-expanded="false" aria-controls="collapseAddNewUser">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>New User</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table
		class="table table-vcenter table-mobile-md card-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>IP Address</th>
                          <th>Plan</th>
                          <th>Setup Date</th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                {% for user in users %}
    {% if "SUSPENDED_" in user[1] %}
        <tr class="suspended-user-row" data-username="{{ user[1].split('_')[-1] }}" data-email="{{ user[3] }}" style="vertical-align: middle;">
    {% else %}
        <tr style="vertical-align: middle;" data-username="{{ user[1] }}" data-email="{{ user[3] }}">
    {% endif %}
                          <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <a href="/users/{{ user[1] }}">
                              <span class="avatar me-2" style="background-image: url({{ gravatar_url(user[3], 150) }})" alt="Gravatar">
                                    {% if "SUSPENDED_" in user[1] %}
                                    <span class="badge bg-red"></span>
                                    {% endif %}
                                </span>
                            </a>
                              <div class="flex-fill">
                                <div class="font-weight-medium">
                                    <a href="/users/{{ user[1] }}"{% if "SUSPENDED_" in user[1] %} style="color: red;"{% endif %}>
                                    {{ user[1].split('_')[-1] }}</a> 
                                    {% if "SUSPENDED_" in user[1] %}
                                        <span class="badge bg-red-lt">SUSPENDED</span>
                                    {% endif %}
                                    </div>
                                <div class="text-muted"><a href="#" class="text-reset">{{ user[3] }}</a></div>

                              </div>
                            </div>
                          </td>
                          <td data-label="IP Address" >
                            <div class="public-ip">{{ public_ip }}</div>
                          </td>
                          <td class="text-muted" data-label="Plan" >
                            <a href="/plans#{{ user[11] }}">{{ user[11] }}</a>
                          </td>
                        <td data-label="Date" >
                            <div class="text-muted">{{ user[9].strftime('%d.%m.%Y %H:%M') }}</div>
                          </td>
                          <td>
                            <div class="btn-list flex-nowrap">
    {% if "SUSPENDED_" in user[1] %}  
<button data-bs-toggle="tooltip" data-bs-placement="top" title="Login is disbaled for suspended user" class="btn btn-disabled"  disabled>
Login
 </button>     
    {% else %}
<a href="#" class="btn loginLink" user="{{ user[1] }}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Login as {{ user[1] }} into OpenPanel">
Login
 </a>
    {% endif %}
<a href="/users/{{ user[1] }}" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="View and Edit user">Manage</a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>

<script>
    fetch('/json/ips')
        .then(response => response.json())
        .then(data => {
            {% for user in users %}
                (function() {
                    const username = "{{ user[1] }}";
                    const publicIP = "{{ public_ip }}";

                    if (data.hasOwnProperty(username)) {
                        const ip = data[username];
                        updatePublicIP(username, ip);
                    }
                })();
            {% endfor %}
        })
        .catch(error => console.error('Error fetching /json/ips:', error));
</script>  


                  </div>
                </div>
          </div>
        </div>




      </div>
    </div>






{% else %}

<div class="page page-center">
      <div class="container-tight py-4">
        <div class="empty">
          <div class="empty-header">No Users</div>
          <p class="empty-title">No users or the MySQL service is not running.</p>
          <p class="d-none empty-subtitle text-secondary">
          </p>
          <div class="empty-action">
            <a href="#" id="addUserButton" class="btn btn-primary " data-bs-toggle="collapse" data-bs-target="#collapseAddNewUser" aria-expanded="false" aria-controls="collapseAddNewUser">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
              Create your first user
            </a>
          </div>
        </div>
      </div>
    </div>

{% endif %}








<!-- Bootstrap Modal to show the created user or error message.. -->
<div class="modal" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="responseModalLabel">Response</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="responseModalBody">
        <!-- Response content will be added here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







<script src="{{ url_for('static', filename='pages/users_all.js') }}?v=0.55" defer></script>
<script src="{{ url_for('static', filename='pages/users_both.js') }}?v=0.33" defer></script>


{% endblock %}
