{% extends 'base.html' %} {% block content %}




<div id="blocks-container" class="">
    <div class="">
        <div class="bg-white transition-all dark:bg-gray-950 overflow-hidden">
            <div class="obfuscate">
<div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">Quick Overview</h1>
                <h2 class="text-sm font-medium text-slate-500">Welcome to your OpenAdmin dashboard.</h2>
            </div>
            <div class="hidden flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                <a @click="showSection = !showSection" class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out cursor-pointer outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit border-black bg-black text-white hover:bg-gray-800 sm:mt-0">
                    Need Help?
                </a>
            </div>
        </div>

        <!-- Initially Hidden, Show on Click -->
        <div :class="{ 'md:flex': showSection }" class="hidden mt-8 w-full md:max-w-3xl md:items-stretch md:space-x-4">

            <div class="relative rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 w-full md:w-7/12">
                <div class="inline-flex items-center justify-center rounded-md border border-gray-200 p-2 dark:border-gray-800">
                    📄
                </div>
                <h3 class="mt-4 text-sm font-medium text-gray-900 dark:text-gray-50">
                    <a href="#" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>Documentation
                    </a>
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-500">View documentation</p>
            </div>

            <div class="relative rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 mt-4 w-full md:mt-0 md:w-5/12">
                <div class="inline-flex items-center justify-center rounded-md border border-gray-200 p-2 dark:border-gray-800">
                    📦
                </div>
                <h3 class="mt-4 text-sm font-medium text-gray-900 dark:text-gray-50">
                    <a href="#" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>Models
                    </a>
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-500">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </header>
</div>

                <div>
                    <main>
                        <div class="p-4 sm:p-6 lg:p-8">
                            <div class="space-y-4" data-orientation="vertical">

<!-- STATISTICS -->
    {% if server_data %}
        {% include 'dashboard/server_data.html' %}
    {% endif %}
<!-- END STATISTICS -->

                            </div>

<!-- RESOURCE USAGE -->
    {% include 'dashboard/resource_usage.html' %}
<!-- END RESOURCE USAGE -->





<dl class="hidden my-4 grid grid-cols-1 gap-4 sm:grid-cols-1 lg:grid-cols-3">

   {% if get_started %}
    <!-- Include the get_started.html template -->
        <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
        {% include 'dashboard/get_started.html' %}
        </div>
    {% endif %}

    
    {% if license_type == "Community" %}
        {% if try_enterprise %}
            <!-- Include the try_enterprise.html template -->
            <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
            {% include 'dashboard/try_enterprise.html' %}
            </div>
        {% endif %}
    {% endif %}
    

    {% if openpanel_news %}
        <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
        {% include 'dashboard/openpanel_news.html' %}
        </div>
    {% endif %}
    

    <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">

            <div class="col-12">
                <div class="card" style="height:28rem">
                <div class="card-header">
                    <div>
                <h6 class="card-title">User Activity</h6>
                    <p class="card-subtitle">Real-time user activity log.</p>
                    </div>
                </div>
                    <div id="activity-table" class="card-body card-body-scrollable card-body-scrollable-shadow">
                        <div class="divide-y"><span id="shouldbehidden">Users activity log will appear here.</span></div>
                    </div>
                </div>
            </div>


    </div>

    <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">

            <div class="card card-one" style="height:28rem">
                <div class="card-header">
                    <div>
                    <h6 class="card-title">System Information</h6>
                    <p class="card-subtitle">Information about your server configuration.</p>
                    </div>

                    <nav class="nav nav-icon nav-icon-sm ms-auto"><a data-bs-toggle="collapse" class="nav-link collapsed" href="#system_info" role="button" aria-expanded="false" aria-controls="system_info"><i class="bi bi-question-circle"></i></a></nav>
                </div>
                <div class="card-body" style="padding:0">
                    <div class="collapse p-2" id="system_info" style="">
                        <p>Server hardware and OS information</p>
                    </div>
                    <div id="system-table">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Hostname</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>OS</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>OpenPanel version</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Server Time</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0" id="server-time"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kernel</td>
                                    <td class="text-secondary">
                                        <div class="placeholder mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CPU</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Uptime</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Running Processes</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td>Package Updates</td>
                                    <td class="text-secondary">
                                        <div class="placeholder col-12 mb-0"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


    </div>

    <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">

<div>
    <div class="" style="height:28rem">
        <div class="flex justify-between items-center p-4 border-b">
            <div>
                <h6 class="text-lg font-semibold">Services Status</h6>
                <p class="text-sm text-gray-500">The Service Status table only reports monitored services.</p>
            </div>
        </div>
        <div class="p-4" style="padding:0;display: grid;">
            <div id="service-table" class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-200 rounded-lg">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Service</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Status</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-sm text-gray-700">
                        <tr>
                            <td class="px-4 py-2">Loading;</td>
                            <td class="px-4 py-2"><span class="bg-gray-400 text-white py-1 px-2 rounded-full">Checking</span></td>
                            <td class="px-4 py-2">
                                <a href="#" class="text-gray-500 hover:text-gray-700 mr-2" title="Restart service">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path>
                                    </svg>
                                </a>
                                <a href="#" class="text-gray-500 hover:text-gray-700" title="Stop OpenPanel service">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 5m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2">Loading</td>
                            <td class="px-4 py-2"><span class="bg-gray-400 text-white py-1 px-2 rounded-full">Checking</span></td>
                            <td class="px-4 py-2">
                                <a href="#" class="text-gray-500 hover:text-gray-700 mr-2" title="Restart service">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path>
                                    </svg>
                                </a>
                                <a href="#" class="text-gray-500 hover:text-gray-700" title="Stop OpenPanel service">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 5m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    </div>
</dl>






                        </div>


                    </main>
                </div>



            </div>





        </div>








    </div>






</div>










<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
<style>
    .active-status {
        color: green
    }

    .inactive-status {
        color: red !important;
        font-weight: 700
    }

    .other-status {
        color: orange !important
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



<script src="https://preview.tabler.io/libs/apexcharts/dist/apexcharts.min.js?1740838750"></script>













<script src="{{ url_for('static', filename='pages/dashboard.js') }}" defer="defer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/json/system')
            .then(response => response.json())
            .then(data => {
                let tableHtml = '<table class="table">';
                // Hostname
                tableHtml += `<tr><td>Hostname</td><td class="text-secondary">${data.hostname}</td></tr>`;
                // OS
                let osIcon = '';
                if (data.os.toLowerCase().includes('ubuntu')) {
                    osIcon = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-ubuntu"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17.723 7.41a7.992 7.992 0 0 0 -3.74 -2.162m-3.971 0a7.993 7.993 0 0 0 -3.789 2.216m-1.881 3.215a8 8 0 0 0 -.342 2.32c0 .738 .1 1.453 .287 2.132m1.96 3.428a7.993 7.993 0 0 0 3.759 2.19m4 0a7.993 7.993 0 0 0 3.747 -2.186m1.962 -3.43a8.008 8.008 0 0 0 .287 -2.131c0 -.764 -.107 -1.503 -.307 -2.203" /><path d="M5 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /></svg>';
                } else if (data.os.toLowerCase().includes('debian')) {
                    osIcon = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-debian"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17c-2.397 -.943 -4 -3.153 -4 -5.635c0 -2.19 1.039 -3.14 1.604 -3.595c2.646 -2.133 6.396 -.27 6.396 3.23c0 2.5 -2.905 2.121 -3.5 1.5c-.595 -.621 -1 -1.5 -.5 -2.5" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>';
                } else if (data.os.toLowerCase().includes('coreos')) {
                    osIcon = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-coreos"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M21 12a9 9 0 1 1 -18 0a9 9 0 0 1 18 0z" /><path d="M12 3c-3.263 3.212 -3 7.654 -3 12c4.59 .244 8.814 -.282 12 -3" /><path d="M9.5 9a4.494 4.494 0 0 1 5.5 5.5" /></svg>';
                }
                tableHtml += `<tr><td>OS</td><td class="text-secondary">${osIcon} ${data.os}</td></tr>`;
                
                // OpenPanel version
                tableHtml += `<tr id="openpanel_version_data"><td>OpenPanel version</td><td class="text-secondary"><a href="https://openpanel.com/docs/changelog/${data.openpanel_version}" target="_blank">${data.openpanel_version}</a></td></tr>`;
                // Time
                tableHtml += `<tr><td>Server Time</td><td class="text-secondary" id="server-time">${data.time}</td></tr>`;
                // Kernel
                tableHtml += `<tr><td>Kernel</td><td class="text-secondary">${data.kernel}</td></tr>`;
                // CPU with link
                let logoHtml = '';
                if (data.cpu.includes('QEMU')) {
                    logoHtml = `<span data-bs-toggle="tooltip" data-bs-placement="right" title="${data.cpu}"><img src="{{ url_for('static', filename='images/dashboard/qemu.png') }}" style="height:2em;" alt="QEMU Logo"></span>`;
                } else if (data.cpu.includes('Intel')) {
                    logoHtml = `<span data-bs-toggle="tooltip" data-bs-placement="right" title="${data.cpu}"><img src="{{ url_for('static', filename='images/dashboard/intel.png') }}" style="height:2em;" alt="Intel Logo"></span>`;
                } else if (data.cpu.includes('AMD')) {
                    logoHtml = `<span data-bs-toggle="tooltip" data-bs-placement="right" title="${data.cpu}"><img src="{{ url_for('static', filename='images/dashboard/amd.svg') }}" style="height:2em;" alt="AMD Logo"></span>`;
                } else if (data.cpu.includes('DO-')) {
                    logoHtml = `<span data-bs-toggle="tooltip" data-bs-placement="right" title="${data.cpu}"><img src="{{ url_for('static', filename='images/dashboard/do.png') }}" style="height:2em;" alt="DigitalOcean Logo"></span>`;
                } else if (data.cpu.includes('AWS')) {
                    logoHtml = `<span data-bs-toggle="tooltip" data-bs-placement="right" title="${data.cpu}"><img src="{{ url_for('static', filename='images/dashboard/aws.png') }}" style="height:2em;" alt="AWS Logo"></span>`;
                } else {
                    logoHtml = data.cpu; // for all others
                }
                tableHtml += `<tr><td>CPU</td><td class="text-secondary">${logoHtml}</td></tr>`;

                // Uptime
                let formattedUptime = formatUptime(data.uptime);
                tableHtml += `<tr><td>Uptime</td><td class="text-secondary">${formattedUptime}</td></tr>`;

                // Running Processes
                tableHtml += `<tr><td>Running Processes</td><td class="text-secondary"><a href="/server/cpu_usage">${data.running_processes}</a></td></tr>`;

                // Close the table tag
                tableHtml += `</table>`;
                document.getElementById('system-table').innerHTML = tableHtml;

                // Start the fake time counter
                startFakeTimeCounter(data.time);

                // Check for OpenPanel updates
                checkForUpdates(data.openpanel_version);
            })
            .catch(error => {
                console.error('Error fetching system info:', error);
                document.getElementById('system-table').innerText = 'Failed to load system information.';
            });
    });

    function formatUptime(seconds) {
        const minute = 60,
            hour = 3600,
            day = 86400,
            month = day * 30,
            year = day * 365;

        function pluralize(value, word) {
            return `${value} ${word}${value > 1 ? 's' : ''}`;
        }
        if (seconds < minute) return pluralize(seconds, 'second');
        else if (seconds < hour) return pluralize(Math.floor(seconds / minute), 'minute');
        else if (seconds < day) return `${pluralize(Math.floor(seconds / hour), 'hour')}, ${pluralize(Math.floor((seconds % hour) / minute), 'minute')}`;
        else if (seconds < month) return `${pluralize(Math.floor(seconds / day), 'day')}, ${pluralize(Math.floor((seconds % day) / hour), 'hour')}`;
        else if (seconds < year) return `${pluralize(Math.floor(seconds / month), 'month')}, ${pluralize(Math.floor((seconds % month) / day), 'day')}`;
        else return `${pluralize(Math.floor(seconds / year), 'year')}, ${pluralize(Math.floor((seconds % year) / month), 'month')}`;
    }

    function startFakeTimeCounter(startTime) {
        let startDate = new Date(startTime);
        setInterval(() => {
            startDate.setSeconds(startDate.getSeconds() + 1);
            document.getElementById('server-time').textContent = startDate.toLocaleString();
        }, 1000);
    }

function checkForUpdates(currentVersion) {
    fetch('https://raw.githubusercontent.com/stefanpejcic/OpenPanel/refs/heads/main/version/latest')
        .then(response => response.text())
        .then(latestVersion => {
            latestVersion = latestVersion.trim();

            // Function to compare semantic versioning
            function isNewerVersion(current, latest) {
                const currentParts = current.split('.').map(Number);
                const latestParts = latest.split('.').map(Number);

                for (let i = 0; i < Math.max(currentParts.length, latestParts.length); i++) {
                    const currentPart = currentParts[i] || 0;
                    const latestPart = latestParts[i] || 0;

                    if (currentPart < latestPart) return true;
                    if (currentPart > latestPart) return false;
                }
                return false;
            }

            if (isNewerVersion(currentVersion, latestVersion)) {
                const updatedRow = `
                <tr id="openpanel_version_data">
                    <td>OpenPanel version</td>
                    <td class="text-secondary">
                        <a href="https://openpanel.com/docs/changelog/${currentVersion.trim()}" data-bs-toggle="tooltip" data-bs-placement="top" title="View Changelog for OpenPanel version ${currentVersion.trim()}" target="_blank">${currentVersion.trim()}</a> <a href="/settings/general"><span class="badge bg-success">Update is available: ${latestVersion}</span></a>
                    </td>
                </tr>`;
                // Replace the existing row with the updated row
                document.getElementById('openpanel_version_data').outerHTML = updatedRow;
            }
        })
        .catch(error => console.error('Error checking for updates:', error));
}


</script>


<style>
  .nav {
    --tblr-nav-link-padding-x: 0;
    --tblr-nav-link-padding-y: 0;
  }
</style>

{% endblock %}
