{% extends 'base.html' %} {% block content %}




<div id="blocks-container" class="">
    <div class="">
        <div class="bg-white transition-all dark:bg-gray-950 overflow-hidden">
            <div class="obfuscate">
<div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
            <div class="grow">
                <h1 class="mb-1 text-xl font-bold">Quick Overview</h1>
                <h2 class="text-sm font-medium text-slate-500">Welcome to your OpenAdmin dashboard.</h2>
            </div>
            <div class="hidden flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                <a @click="showSection = !showSection" class="relative inline-flex items-center justify-center rounded-md border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out cursor-pointer outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit border-black bg-black text-white hover:bg-gray-800 sm:mt-0">
                    Need Help?
                </a>
            </div>
        </div>

        <!-- Initially Hidden, Show on Click -->
        <div :class="{ 'md:flex': showSection }" class="hidden mt-8 w-full md:max-w-3xl md:items-stretch md:space-x-4">

            <div class="relative rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 w-full md:w-7/12">
                <div class="inline-flex items-center justify-center rounded-md border border-gray-200 p-2 dark:border-gray-800">
                    📄
                </div>
                <h3 class="mt-4 text-sm font-medium text-gray-900 dark:text-gray-50">
                    <a href="#" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>Documentation
                    </a>
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-500">View documentation</p>
            </div>

            <div class="relative rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 mt-4 w-full md:mt-0 md:w-5/12">
                <div class="inline-flex items-center justify-center rounded-md border border-gray-200 p-2 dark:border-gray-800">
                    📦
                </div>
                <h3 class="mt-4 text-sm font-medium text-gray-900 dark:text-gray-50">
                    <a href="#" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>Models
                    </a>
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-500">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </header>
</div>

                <div>
                    <main>
                        <div class="p-4 sm:p-6 lg:p-8">
                            <div class="space-y-4" data-orientation="vertical">

<!-- STATISTICS -->
    {% if server_data %}
        {% include 'dashboard/server_data.html' %}
    {% endif %}
<!-- END STATISTICS -->

                            </div>

<!-- RESOURCE USAGE -->
    {% include 'dashboard/resource_usage.html' %}
<!-- END RESOURCE USAGE -->



<dl class="my-4 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

   {% if get_started %}
    <!-- Include the get_started.html template -->
        <div class="hidden w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
        {% include 'dashboard/get_started.html' %}
        </div>
    {% endif %}

    <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
                    <div class="p-6 flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start border-b border-gray-200 px-6 dark:border-gray-900"><div><h3 class="font-medium text-gray-900 dark:text-gray-50">User Activity</h3><p class="text-sm/6 text-gray-500 dark:text-gray-500">Real-time user activity log.</p></div></div>

                <div class="max-h-100 flex flex-1 flex-col gap-2 overflow-y-auto  [&::-webkit-scrollbar]:w-2  [&::-webkit-scrollbar-track]:bg-gray-100  [&::-webkit-scrollbar-thumb]:bg-gray-300  dark:[&::-webkit-scrollbar-track]:bg-neutral-700  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500" style="height:60vh">
                    <div id="activity-table" class="card-body card-body-scrollable card-body-scrollable-shadow">
                        <div class="mt-2">
                            <ul role="list" id="activity-list" class="divide-y divide-gray-200 dark:divide-gray-800">                          
                                <li id="shouldbehidden">Users activity log will appear here.</li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>

    
    {% if license_type == "Community" %}
        {% if try_enterprise %}
            <!-- Include the try_enterprise.html template -->
            <div class="hidden w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
            {% include 'dashboard/try_enterprise.html' %}
            </div>
        {% endif %}
    {% endif %}
    

    {% if openpanel_news %}
        <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
        {% include 'dashboard/openpanel_news.html' %}
        </div>
    {% endif %}
    



    <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2">
                    <div class="p-6 flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start border-b border-gray-200 px-6 dark:border-gray-900"><div><h3 class="font-medium text-gray-900 dark:text-gray-50">System Information</h3><p class="text-sm/6 text-gray-500 dark:text-gray-500">Information about your server configuration.</p></div></div>


                    <div class="grid grid-cols-1 gap-4 mt-2">
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Hostname</span>
                            <span class="font-medium" id="system-hostname"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">OS</span>
                            <span id="system-os" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">OpenPanel version</span>
                            <a href="/settings/updates" id="system-openpanel" class="font-medium">{{ panel_version }}</a>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Server Time</span>
                            <span id="server-time" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Kernel</span>
                            <span id="system-kernel" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">CPU</span>
                            <span id="system-cpu" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Uptime</span>
                            <span id="system-uptime" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Running Processes</span>
                            <span id="system-processes" class="font-medium"></span>
                        </div>
                        <div class="flex items-center justify-between rounded-lg bg-gray-50 p-3 dark:bg-gray-800/50">
                            <span class="text-sm capitalize text-gray-600 dark:text-gray-400">Package Updates</span>
                            <span id="system-packages" class="font-medium"></span>
                        </div>
                    </div>

    </div>


</dl>






                        </div>


                    </main>
                </div>



            </div>





        </div>








    </div>






</div>










<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
<style>
    .active-status {
        color: green
    }

    .inactive-status {
        color: red !important;
        font-weight: 700
    }

    .other-status {
        color: orange !important
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



<script src="https://preview.tabler.io/libs/apexcharts/dist/apexcharts.min.js?1740838750"></script>







<script src="{{ url_for('static', filename='pages/dashboard.js') }}" defer="defer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    fetch('/json/system')
        .then(response => response.json())
        .then(data => {
            document.getElementById('system-hostname').textContent = data.hostname;
            document.getElementById('system-os').textContent = data.os;
            document.getElementById('system-kernel').textContent = data.kernel;
            document.getElementById('system-cpu').textContent = data.cpu;
            document.getElementById('system-uptime').textContent = formatUptime(data.uptime);
            document.getElementById('system-processes').textContent = data.running_processes;
            document.getElementById('system-packages').textContent = data.package_updates;
            document.getElementById('server-time').textContent = data.time;
            document.getElementById('system-openpanel').textContent = data.openpanel_version;
            
            startFakeTimeCounter(data.time);
        })
        .catch(error => {
            console.error('Error fetching system info:', error);
        });
});

function formatUptime(seconds) {
    const minute = 60,
          hour = 3600,
          day = 86400;

    function pluralize(value, word) {
        return `${value} ${word}${value > 1 ? 's' : ''}`;
    }
    if (seconds < minute) return pluralize(seconds, 'second');
    else if (seconds < hour) return pluralize(Math.floor(seconds / minute), 'minute');
    else if (seconds < day) return `${pluralize(Math.floor(seconds / hour), 'hour')}, ${pluralize(Math.floor((seconds % hour) / minute), 'minute')}`;
    else return `${pluralize(Math.floor(seconds / day), 'day')}, ${pluralize(Math.floor((seconds % day) / hour), 'hour')}`;
}

function startFakeTimeCounter(startTime) {
    let startDate = new Date(startTime);
    setInterval(() => {
        startDate.setSeconds(startDate.getSeconds() + 1);
        document.getElementById('server-time').textContent = startDate.toLocaleString();
    }, 1000);
}


function isNewerVersion(current, latest) {
    const currentParts = current.split('.').map(Number);
    const latestParts = latest.split('.').map(Number);

    for (let i = 0; i < Math.max(currentParts.length, latestParts.length); i++) {
        const currentPart = currentParts[i] || 0;
        const latestPart = latestParts[i] || 0;

        if (currentPart < latestPart) return true;
        if (currentPart > latestPart) return false;
    }
    return false;
}
</script>



{% endblock %}
