<!-- restart is needed message -->
{% if restart_messages %}
        {% for message in restart_messages %}
<a href="{% if not is_reseller %}/services{% else %}#{% endif %}">
    <span data-tooltip-target="tooltip-restart-bar" data-tooltip-placement="left" class="inline-flex items-center gap-2.5 rounded-md bg-blue-500 px-2.5 py-2 text-xs font-medium text-white dark:bg-blue-900">
        <span class="inline-flex items-center gap-1.5">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4"><path d="M12 2C16.9706 2 21 6.04348 21 11.0314V20H3V11.0314C3 6.04348 7.02944 2 12 2ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z"></path></svg>
            <span class="hidden md:flex">
            {% if 'both OpenPanel and OpenAdmin' in message %}2 services need{% elif 'Pending changes for OpenPanel UI' in message or 'Pending changes for OpenAdmin' in message %}1 service needs{% endif %} restart!
            </span>
        </span>
    </span>
</a>
<div id="tooltip-restart-bar" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black transition-opacity duration-300 bg-gray-200 rounded-lg shadow-xs opacity-0 tooltip">
    {{ message }}
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
        {% endfor %}
{% endif %}
<!-- END restart is needed message -->
