<!-- Content of templates/dashboard/server_data.html -->


              <div class="col-md-4 g-3">
                <div id="history_usage_data" class="card card-one" style="min-height:28rem">

                <div class="card-header">
                    <div>
                <h6 class="card-title">Statistics</h6>
                    <p class="card-subtitle">Current server usage statistics.</p>
                    </form>
                    </div>
                    <nav class="nav nav-icon nav-icon-sm ms-auto"><a data-bs-toggle="collapse" class="nav-link collapsed" href="#data_info" role="button" aria-expanded="false" aria-controls="data_info"><i class="bi bi-question-circle"></i></a></nav>
                </div>

                  <div class="card-body" style="padding:0">
                    <div class="collapse p-2" id="data_info" style="">
                        <p>Total number of users and data on the server.</p>
                    </div>






<table class="table card-table table-vcenter">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th colspan="2">Count</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr class="d-none">
                        <td>
                          {% if license_type == "Enterprise" %}
                          <a href="/settings/cluster" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing multiple servers from a single OpenAdmin is available in OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-server-bolt"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path><path d="M15 20h-9a3 3 0 0 1 -3 -3v-2a3 3 0 0 1 3 -3h12"></path><path d="M7 8v.01"></path><path d="M7 16v.01"></path><path d="M20 15l-2 3h3l-2 3"></path></svg> Servers</a></td>
                        <td>{{ server_count }}{% if license_type == "Community" %}/1{% endif %}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar {% if license_type == 'Community' %}bg-danger{% else %}
      {% if (server_count / 10) * 100 < 50 %}
          bg-success
      {% elif (server_count / 10) * 100 < 80 %}
          bg-warning
      {% else %}
          bg-danger
      {% endif %} 
    {% endif %}"
    style="width: {% if license_type == 'Enterprise' %}{{ (server_count / 10) * 100 }}{% else %}100{% endif %}%">
</div>

                          </div>
                        </td>
                      </tr>


                      <tr>
                        <td>
                          {% if license_type == "Enterprise" %}
                          <a href="/users" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing more than 3 users is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path><path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg> Users</a></td>
                        <td>{{ user_count }}{% if license_type == "Community" %}/3{% endif %}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar 
    {% set percentage = (user_count / 300) * 100 if license_type == "Enterprise" else (user_count / 3) * 100 %}
    {% if percentage < 50 %}
        bg-success
    {% elif percentage < 80 %}
        bg-warning
    {% else %}
        bg-danger
    {% endif %}" 
    style="width: {{ percentage }}%">
</div>

                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          {% if license_type == "Enterprise" %}
                          <a href="/domains" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing more than 50 domains is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world-www"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path><path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path><path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path><path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path><path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path><path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path><path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path></svg> Domains</a></td>
                        <td>{{ domain_count }}{% if license_type == "Community" %}/50{% endif %}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar 
    {% set percentage = (domain_count / 5000) * 100 if license_type == "Enterprise" else (domain_count / 50) * 100 %}
    {% if percentage < 50 %}
        bg-success
    {% elif percentage < 80 %}
        bg-warning
    {% else %}
        bg-danger
    {% endif %}" 
    style="width: {{ percentage }}%">
</div>

                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td><a href="/domains" style="text-decoration:none;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-browser"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 8h16"></path><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M8 4v4"></path></svg> Websites</a></td>
                        <td>{{ site_count }}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar 
    {% set percentage = (site_count / 5000) * 100 if license_type == "Enterprise" else (site_count / 100) * 100 %}
    {% if percentage < 50 %}
        bg-success
    {% elif percentage < 80 %}
        bg-warning
    {% else %}
        bg-danger
    {% endif %}" 
    style="width: {{ percentage }}%">
</div>

                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {% if license_type == "Enterprise" %}
                          <a href="/emails/accounts" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing email accounts is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path><path d="M3 7l9 6l9 -6"></path></svg> Emails</a></td>
                        <td>{{ mail_count }}{% if license_type == "Community" %}/0{% endif %}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar 
    {% set percentage = (mail_count / 10000) * 100 if license_type == "Enterprise" else 0 %}
    {% if percentage < 50 %}
        bg-success
    {% elif percentage < 80 %}
        bg-warning
    {% else %}
        bg-danger
    {% endif %}" 
    style="width: {{ percentage }}%">
</div>

                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="/plans" style="text-decoration:none;"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-packages" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"></path><path d="M2 13.5v5.5l5 3"></path><path d="M7 16.545l5 -3.03"></path><path d="M17 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"></path><path d="M12 19l5 3"></path><path d="M17 16.5l5 -3"></path><path d="M12 13.5v-5.5l-5 -3l5 -3l5 3v5.5"></path><path d="M7 5.03v5.455"></path><path d="M12 8l5 -3"></path></svg> Plans</a></td>
                        <td>{{ plan_count }}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 1%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {% if license_type == "Enterprise" %}
                          <a href="/backups" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Backup & Restore functionality is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path><path d="M9 15l3 -3l3 3"></path><path d="M12 12l0 9"></path></svg> Backup Jobs</a></td>
                        <td>{{ backup_jobs }}{% if license_type == "Community" %}/3{% endif %}</td></td>
                        <td class="w-50">
                          <div class="progress progress-xs">
<div class="progress-bar 
    {% set percentage = (backup_jobs / 100) * 100 if license_type == "Enterprise" else (backup_jobs / 3) * 100 %}
    {% if percentage < 50 %}
        bg-success
    {% elif percentage < 80 %}
        bg-warning
    {% else %}
        bg-danger
    {% endif %}" 
    style="width: {{ percentage }}%">
</div>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
