<!-- Content of templates/dashboard/server_data.html -->

<div class="overflow-hidden pb-4 text-sm text-gray-700 dark:text-gray-200">
    <dl class="grid grid-cols-1 gap-4 sm:grid-cols-1 lg:grid-cols-1">
        <div class="w-full rounded-lg border p-6 text-left shadow-sm bg-white dark:bg-[#090E1A] border-gray-200 dark:border-gray-900 relative !p-2" tremor-id="tremor-raw">
            <dl class="my-3 flex flex-wrap items-center gap-x-12 gap-y-8 px-6">
                         {% if license_type == "Enterprise" %}
                          <a href="#" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing multiple servers from a single OpenAdmin is available in OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">Cluster Nodes</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                            {% if license_type == "Community" %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            {% elif license_type == 'Enterprise' %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            {% endif %}
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ server_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}1{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>

                          {% if license_type == "Enterprise" %}
                          <a href="/users" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing more than 3 users is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">OpenPanel Users</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">

                          {% if user_count == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}


    {% set percentage = (user_count / 1000) * 100 if license_type == "Enterprise" else (user_count / 3) * 100 %}
    {% if percentage < 50 %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
    {% elif percentage < 80 %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
    {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
    {% endif %}
                          {% endif %}

                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ user_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}3{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>


                          {% if license_type == "Enterprise" %}
                          <a href="/domains" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing more than 50 domains is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">User Domains</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                          
                          {% if domain_count == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}
                              
    {% set percentage = (domain_count / 5000) * 100 if license_type == "Enterprise" else (domain_count / 50) * 100 %}
    {% if percentage < 50 %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
    {% elif percentage < 80 %}
                            <div class="h-3.5 w-1 rounded-sm bg-orange-500 dark:bg-orange-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-orange-300 dark:bg-orange-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
    {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
    {% endif %}
                            {% endif %}

                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ domain_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}50{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>




                <a href="/domains" style="text-decoration:none;">
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">User Websites</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                          {% if site_count == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}

                          {% set percentage = (site_count / 5000) * 100 if license_type == "Enterprise" else (site_count / 50) * 100 %}
                          {% if percentage < 50 %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% elif percentage < 80 %}
                            <div class="h-3.5 w-1 rounded-sm bg-orange-500 dark:bg-orange-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                          {% endif %}

                          {% endif %}
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ site_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}50{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>


                <a href="/plans" style="text-decoration:none;">
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">User Packages</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                          {% if plan_count == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                          {% endif %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ plan_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->∞
                            </span>
                        </p>
                    </dd>
                </div>
                </a>

                          {% if license_type == "Enterprise" %}
                          <a href="/emails/accounts" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Managing email accounts is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">Email accounts</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                          {% if mail_count == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}
                              {% if license_type == "Enterprise" %}
                                <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                              {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-red-500 dark:bg-red-500"></div>
                              {% endif %}
                          {% endif %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ mail_count }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}0{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>

                          {% if license_type == "Enterprise" %}
                          <a href="#" style="text-decoration:none;">
                          {% else %}
                          <a href="https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Backup & Restore functionality is available on OpenPanel Enterprise edition." style="text-decoration:none;">
                          {% endif %}
                <div>
                    <dt class="text-sm text-gray-500 dark:text-gray-500">Backup Jobs</dt>
                    <dd class="mt-1.5 flex items-center gap-2">
                        <div class="flex gap-0.5">
                          {% if backup_jobs == 0 %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          {% else %}
                              {% if license_type == "Enterprise" %}
                                <div class="h-3.5 w-1 rounded-sm bg-green-500 dark:bg-green-500"></div>
                              {% else %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                              {% endif %}
                          {% endif %}
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                            <div class="h-3.5 w-1 rounded-sm bg-gray-300 dark:bg-gray-800"></div>
                          
                        </div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-gray-50">
                            {{ backup_jobs }}<!-- -->
                            <span class="font-medium text-gray-400 dark:text-gray-600">
                                /
                                <!-- -->{% if license_type == "Community" %}0{% elif license_type == "Enterprise" %}∞{% endif %}
                            </span>
                        </p>
                    </dd>
                </div>
                </a>

                {% if license_type != "Enterprise" %}
                <a class="group flex items-center gap-0.5 whitespace-nowrap rounded-[20px] bg-gradient-to-b from-white to-gray-200 px-4 py-2 font-semibold text-gray-900 ring-1 ring-inset ring-indigo-400/30 transition" href="https://openpanel.com/beta/" target="_blank">Upgrade to OpenPanel Enterprise<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right ml-1 size-[18px] shrink-0"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg></a>
                {% endif %}

            </dl>
        </div>
    </dl>
</div>
