{# templates/dashboard/server_data.html #}

{% macro metric(label, value, limit, url=None, tooltip=None, external=False) %}
    {% if url %}<a href="{{ url }}" {% if external %}target="_blank"{% endif %} {% if tooltip %}title="{{ tooltip }}"{% endif %} style="text-decoration:none;">{% endif %}
    <div>
        <dt class="font-mono uppercase text-xs md:text-sm">{{ label }}</dt>
        <dd class="mt-1.5 flex items-center gap-2"><p class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{ value }}<span class="font-medium text-gray-400 dark:text-gray-600">/ {{ limit }}</span></p></dd>
    </div>
    {% if url %}</a>{% endif %}
{% endmacro %}

<dl class="flex flex-wrap items-center gap-x-12">

    {{ metric("Nodes", server_count, 
        "1" if license_type == "Community" else "∞") }}

    {{ metric("Containers", running_containers, 
        "100" if license_type == "Community" else "∞") }}

    {% if license_type == "Enterprise" %}
        {{ metric("Users", user_count, "∞", "/users") }}
    {% else %}
        {{ metric(
            "Users", user_count, "3",
            "https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license",
            "Managing more than 3 users is available on OpenPanel Enterprise edition.",
            True
        ) }}
    {% endif %}

    {% if license_type == "Enterprise" %}
        {{ metric("Domains", domain_count, "∞", "/domains") }}
    {% else %}
        {{ metric(
            "Domains", domain_count, "50",
            "https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license",
            "Managing more than 50 domains is available on OpenPanel Enterprise edition.",
            True
        ) }}
    {% endif %}

    {{ metric("Websites", site_count, 
        "50" if license_type == "Community" else "∞", "/domains") }}

    {{ metric("Packages", plan_count, "∞", "/plans") }}

    {% if license_type == "Enterprise" %}
        {{ metric("Emails", mail_count, "∞", "/emails/accounts") }}
    {% else %}
        {{ metric(
            "Emails", mail_count, "0",
            "https://my.openpanel.com/index.php?rp=/store/openpanel/enterprise-license",
            "Managing email accounts is available on OpenPanel Enterprise edition.",
            True
        ) }}
    {% endif %}

</dl>
