<!-- Content of try_enterprise.html -->

    <style>
        .dismiss-custom_message-button {
            display: none;
        }
        #custom_message:hover .dismiss-custom_message-button {
            display: inline-block;
        }
    </style>




    <div class="col-md-4 g-3">
        <div id="custom_message" class="card card-one" style="height:28rem">
            <div class="card-header">
                <div>
                    <form action="{{ url_for('dismiss_custom_news') }}" method="post">
                    <h6 class="card-title">Try Enterprise <button data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Hide and never show news from openpanel.com/blog again" data-bs-original-title="Hide and never show news from openpanel.com/blog again" class="dismiss-custom_message-button btn btn-sm" type="submit">Dismiss</button></h6>
                    <p class="card-subtitle">from the openpanel.co blog</p>
                    </form>
                </div>
                <div class="ribbon bg-primary">20% OFF</div>
            </div>
            <div class="card-body">

<div class="card"><div class="card-stamp"><div class="card-stamp-icon bg-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-rocket"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path><path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg></div></div><div class="card-body"><h3 class="card-title">Try Enterprise</h3><p class="text-secondary">Unlock powerful features and effortlessly manage users and websites with <b>OpenPanel Enterprise</b></p><a href="/license" class="btn btn-sm btn-primary w-100">Learn More</a></div></div>



                </div>
                </div>   
        </div>
    </div>
