{% extends 'base.html' %}

{% block content %}
<!-- START templates/plans/new.html -->

{% import "macros.html" as macros %}

<div>
    <div x-data="{ showSection: false }" class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
        <header>
            <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
                <div class="grow">
                    <h1 class="mb-1 text-xl font-bold">New Package</h1>
                    <h2 class="text-sm font-medium text-slate-500">Create a new hosting package for users.</h2>
                </div>
                <div class="flex flex-none items-center justify-center gap-2 rounded-sm px-2 sm:justify-end sm:bg-transparent sm:px-0">
                </div>
            </div>
    </header>
    </div>


<div id="collapseAddNewUser" class="px-2">

    <div class="sm:mx-auto sm:max-w-2xl" style="display:block;">
        <form method="POST" class="mt-8 pb-6">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('name', 'Name', 'Enter your preferred plan name.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="text"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="name" required="" value="{{ form_data.get('name', '') }}" autofocus />
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('description', 'Description', 'Plan description is visible to users on Server Information page.', required=False) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="text"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="description" value="{{ form_data.get('description', '') }}"/>
                    </div>
                </div>

            </div>

            <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500" tremor-id="tremor-raw"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


           <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('disk_limit', 'Disk (in GB)', 'Disk Space in GB to allocate for user services, files, logs..', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="disk_limit" required="" value="{{ form_data.get('disk_limit', '') }}" min="0" />
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('inodes_limit', 'Inodes', 'Total number of files to allow for user on this plan.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="inodes_limit" required="" value="{{ form_data.get('inodes_limit', '') }}" min="0"/>
                    </div>
                </div>


                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('cpu', 'CPU cores', 'Limit the total CPU (cores) used by all running services combined for a user.', required=True) }}

                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="cpu" required="" value="{{ form_data.get('cpu', '') }}" min="0" />
                    </div>
                </div>


                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('ram', 'Memory (in GB)', 'Limit the total memory (in GB) used by all running services combined for a user.', required=True) }}

                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="ram" required="" value="{{ form_data.get('ram', '') }}" min="0" />
                    </div>
                </div>



                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('bandwidth', 'Port Speed', 'Port Speed (or bandwidth) is the total speed user can use on this plan.', required=True) }}

                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="bandwidth" required="" value="{{ form_data.get('bandwidth', '') }}" min="0" />
                    </div>
                </div>



            </div>

            <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500" tremor-id="tremor-raw"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


           <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">


                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('domains_limit', 'Domains', 'Total number of domains: primary, addons, aliases. Subdomains are excluded.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="domains_limit" value="{{ form_data.get('domains_limit', '') }}" required="" min="0"/>
                    </div>
                </div>


                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('websites_limit', 'Websites', 'Total number of websites that user can install/manage on this plan. Includes: WordPress, NodeJS, Python, Website Builder..', required=True) }}

                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="websites_limit" value="{{ form_data.get('websites_limit', '') }}" required="" min="0"/>
                    </div>
                </div>


                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('db_limit', 'Databases', 'Total number of MySQL and PostgreSQL databases a user can have on this plan. The limits for PostgreSQL and MySQL are separate.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="db_limit" value="{{ form_data.get('db_limit', '') }}" min="0"/>
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('email_limit', 'Email Accounts', 'Total number of email accounts that user can create and manage on this plan.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="email_limit" value="{{ form_data.get('email_limit', '') }}" required="" min="0"/>
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('max_email_quota', 'Mailbox quota', 'Max mailbox size for email accounts that user can set on this plan. Examples: 100k | 250M | 3G | 1T | 0 for unlimited.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="text"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="max_email_quota" value="{{ form_data.get('max_email_quota', '') }}" required=""/>
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('max_hourly_email', 'Max hourly emails', 'The maximum number of emails that all addresses under this account can send within one hour.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="max_hourly_email" value="{{ form_data.get('max_hourly_email', '') }}" required=""/>
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('ftp_limit', 'FTP Accounts', 'Total number of FTP accounts that user can create and manage on this plan.', required=True) }}
                    <div class="relative w-full mt-2">
                        <input
                            type="number"
                            class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&amp;::-webkit-search-cancel-button]:hidden [&amp;::-webkit-search-decoration]:hidden" name="ftp_limit" value="{{ form_data.get('ftp_limit', '') }}" required="" min="0"/>
                    </div>
                </div>

                <div class="col-span-full sm:col-span-3">
                    {{ macros.tooltip('feature_set', 'Feature set', 'Feature set determines which features users on this plan have access to.', required=True) }}
                    <div class="relative w-full mt-2">
                        <select class="group/trigger flex w-full select-none items-center justify-between gap-2 truncate rounded border px-3 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 data-[placeholder]:text-gray-500 data-[placeholder]:dark:text-gray-500 bg-white dark:bg-gray-950 hover:bg-gray-50 hover:dark:bg-gray-950/50 data-[disabled]:bg-gray-100 data-[disabled]:text-gray-400 data-[disabled]:dark:border-gray-700 data-[disabled]:dark:bg-gray-800 data-[disabled]:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 mt-2" name="feature_set">
                            {% for file in feature_sets %}
                                <option value="{{ file }}" {% if file == form_data.get('feature_set') or file == 'default' %}selected{% endif %}>{{ file }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>



            <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500" tremor-id="tremor-raw"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>




            <div class="flex items-center justify-end space-x-4 pb-6">
                <a href="/plans" tabindex="-1" class="relative inline-flex items-center justify-center whitespace-nowrap rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600">Go back</a>
                <button class="relative inline-flex items-center justify-center whitespace-nowrap rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400" type="submit">Create Plan</button>
            </div>
        </form>
    </div>
</div>


</div>

<!-- END templates/plans/new.html -->
{% endblock %}
