
<div style="background: var(--color-background-secondary); padding: 1.5rem; border-radius: var(--border-radius-lg);">
  <div style="background: var(--color-background-primary); border: 1px solid #eaeaea; border-radius: 5px; margin: 0 auto; max-width: 600px; padding: 40px;">

    <div style="text-align: center; padding-top: 10px; margin-bottom: 30px;">
      <a href="https://openpanel.com" target="_blank">
        <img src="https://openpanel.com/img/openpanel_logo.png" width="40" height="37" alt="OpenPanel" style="display: inline-block;" />
      </a>
      <h1 style="color: var(--color-text-primary); font-size: 24px; font-weight: normal; margin: 30px 0 0;">
        {{ title }}
      </h1>
    </div>

    {% if 'OpenAdmin URL:' in message %}
      {% set parts = message.split('|') %}
      {% set link = parts[0].split('OpenAdmin URL:')[1].strip() %}
      {% set username = parts[1].split('username:')[1].strip() %}
      {% set password = parts[2].split('password:')[1].strip() %}

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 16px;">
        Your new OpenPanel server is all set to go! You can access it using the following credentials:
      </p>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        OpenAdmin URL: <a href="{{ admin_url }}" style="color: #067df7; text-decoration: none;" target="_blank">{{ admin_url }}</a>
      </p>
      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        Username: <strong style="font-weight: bold;">{{ username }}</strong>
      </p>
      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        Password: <code style="color: rgb(189,16,224); font-family: Menlo, Monaco, 'Lucida Console', monospace; font-size: 0.9em;">{{ password }}</code>
      </p>

    {% elif 'cpu usage' in title.lower() %}
      {% set message_parts = message.split("|", 1) %}
      {% set percentage_cpu = message_parts[0]|trim %}
  
      {% set percentage_num = percentage_cpu.split(':')[1].replace('%', '').strip() | int %}
      {% if percentage_num < 80 %}{% set color = "#28a745" %}{% elif percentage_num < 90 %}{% set color = "#ff6c2c" %}{% else %}{% set color = "#dc3545" %}{% endif %}
      {% set white_num = 100 - percentage_num %}

      {% set cpu_process_list = message_parts[1]|trim %}

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
        Current CPU usage: <b>{{ percentage_num }}%</b>
      </p>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
        <table style="border:2px solid #293a4a;margin:1px;padding:0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td style="background-color:{{color}};color:white" align="center" width="{{percentage_num}}%">{{percentage_num}}%</td>
                <td style="background-color:#ffffff" width="{{white_num}}%"></td>
              </tr>
            </tbody>
        </table>
      </p>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 8px;">
        Processes with the highest CPU usage:
      </p>
      <pre style="width: 100%; box-sizing: border-box; color: #fcfdfe; background: #182433; padding: 1rem; font-size: 85.714285%; overflow-x: auto; margin: 0;">{{ cpu_process_list|replace('\\n', '\n')|safe }}</pre>
  {% elif 'memory usage' in title.lower() %}
    {% set message_parts = message.split("|", 1) %}
    {% set mem_ratio = message_parts[0]|trim %}
    {% set mem_process_list = message_parts[1]|trim %}

    {# Extract percentage from "(15%)" #}
    {% set percentage_mem = mem_ratio.split('(')[1].replace('%)','').strip() | int %}

    {% if percentage_mem < 80 %}
      {% set color = "#28a745" %}
    {% elif percentage_mem < 90 %}
      {% set color = "#ff6c2c" %}
    {% else %}
      {% set color = "#dc3545" %}
    {% endif %}

    {% set white_num = 100 - percentage_mem %}

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
      {{ mem_ratio }}
    </p>

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
      <table style="border:2px solid #293a4a;margin:1px;padding:0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td style="background-color:{{color}};color:white" align="center" width="{{percentage_mem}}%">
              {{ percentage_mem }}%
            </td>
            <td style="background-color:#ffffff" width="{{white_num}}%"></td>
          </tr>
        </tbody>
      </table>
    </p>

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 8px;">
      Processes with the highest Memory usage:
    </p>

    <pre style="width: 100%; box-sizing: border-box; color: #fcfdfe; background: #182433; padding: 1rem; font-size: 85.714285%; overflow-x: auto; margin: 0;">
      {{ mem_process_list|replace('\\n', '\n')|safe }}
    </pre>
  {% elif 'disk space' in title.lower() %}
    {% set message_parts = message.split(" | ") %}
    {% set disk_usage = message_parts[0]|trim %}
    {% set partitions_part = message_parts[1]|trim %}
    {% set partitions = partitions_part.split(':')[1].strip() %}

    {# Extract percentage #}
    {% set percentage_disk = disk_usage.split(':')[1].replace('%','').strip() | int %}

    {% if percentage_disk < 80 %}
      {% set color = "#28a745" %}
    {% elif percentage_disk < 90 %}
      {% set color = "#ff6c2c" %}
    {% else %}
      {% set color = "#dc3545" %}
    {% endif %}

    {% set white_num = 100 - percentage_disk %}

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
      Current Disk usage: <b>{{ percentage_disk }}%</b>
    </p>

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 12px;">
      <table style="border:2px solid #293a4a;margin:1px;padding:0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td style="background-color:{{color}};color:white" align="center" width="{{percentage_disk}}%">
              {{ percentage_disk }}%
            </td>
            <td style="background-color:#ffffff" width="{{white_num}}%"></td>
          </tr>
        </tbody>
      </table>
    </p>

    <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 8px;">
      Recorded disk usage by partition:
    </p>

    <pre style="width: 100%; box-sizing: border-box; color: #fcfdfe; background: #182433; padding: 1rem; font-size: 85.714285%; overflow-x: auto; margin: 0;">
      {{ partitions|replace('\\n', '\n')|safe }}
    </pre>
    {% else %}
      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        {{ message }}
      </p>
    {% endif %}

    {% if 'OpenAdmin URL:' not in message %}
      <div style="text-align: center; margin: 24px 0;">
        <a href="{{ admin_url }}notifications" style="background-color: #000; border-radius: 5px; color: #fff; display: inline-block; font-size: 12px; font-weight: 500; line-height: 50px; text-align: center; text-decoration: none; width: 200px;" target="_blank">
          See More Details
        </a>
      </div>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 4px;">
        This notification was triggered by:
      </p>
      <ul style="padding-left: 20px; margin: 0 0 16px;">
        <li style="color: var(--color-text-primary); font-size: 14px; line-height: 2em;">
          Sentinel Monitoring service running on OpenPanel server: <strong>{{ hostname }}</strong>
        </li>
      </ul>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 4px;">
        To view the notification you may also copy and paste the URL below:
      </p>
      <p style="font-size: 14px; line-height: 24px; margin: 0;">
        <a href="{{ admin_url }}notifications" style="color: #067df7; text-decoration: none;" target="_blank">
          <code style="color: rgb(189,16,224); font-family: Menlo, Monaco, 'Lucida Console', monospace; font-size: 0.9em;">{{ admin_url }}notifications</code>
        </a>
      </p>
    {% endif %}

    <hr style="border: none; border-top: 1px solid #eaeaea; margin: 26px 0;" />

    <p style="color: #666666; font-size: 12px; line-height: 24px; margin: 0 0 4px;">
      OpenPanel B.V. – <a href="https://openpanel.com" style="color: #067df7; text-decoration: none;" target="_blank">openpanel.com</a>
    </p>
    <p style="color: #666666; font-size: 12px; line-height: 24px; margin: 0 0 4px;">
      If you'd like to talk to a support team member, please <a href="https://my.openpanel.com/" style="color: #067df7; text-decoration: none;" target="_blank">submit a new case</a>.
    </p>
    <p style="color: #666666; font-size: 12px; line-height: 24px; margin: 0;">
      <a href="{{ admin_url }}notifications" style="color: #067df7; text-decoration: none;" target="_blank">Click here to manage your notification settings</a>
    </p>

  </div>
</div>
