

<div style="background: var(--color-background-secondary); padding: 1.5rem; border-radius: var(--border-radius-lg);">
  <div style="background: var(--color-background-primary); border: 1px solid #eaeaea; border-radius: 5px; margin: 0 auto; max-width: 600px; padding: 40px;">

    <div style="text-align: center; padding-top: 10px; margin-bottom: 30px;">
      <a href="https://openpanel.com" target="_blank">
        <img src="https://openpanel.com/img/openpanel_logo.png" width="40" height="37" alt="OpenPanel" style="display: inline-block;" />
      </a>
      <h1 style="color: var(--color-text-primary); font-size: 24px; font-weight: normal; margin: 30px 0 0;">
        {{ title }}
      </h1>
    </div>

    {% if 'OpenPanel URL:' in message %}
      {% set parts = message.split('|') %}
      {% set link = parts[0].split('OpenPanel URL:')[1].strip() %}
      {% set username = parts[1].split('username:')[1].strip() %}
      {% set password = parts[2].split('password:')[1].strip() %}

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0 0 16px;">
        Your new OpenPanel account is all set to go! You can access it using the following credentials:
      </p>

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        OpenPanel URL: <a href="{{ link }}" style="text-decoration: none; color: #067df7;" target="_blank">{{ link }}</a>
      </p>
      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        Username: <strong style="font-weight: bold;">{{ username }}</strong>
      </p>
      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        Password: <code style="color: rgb(189,16,224); font-family: Menlo, Monaco, 'Lucida Console', monospace; font-size: 0.9em;">{{ password }}</code>
      </p>

    {% else %}

      <p style="color: var(--color-text-primary); font-size: 14px; line-height: 24px; margin: 0;">
        {{ message }}
      </p>

    {% endif %}

    <hr style="border: none; border-top: 1px solid #eaeaea; margin: 26px 0;" />

    <p style="color: #666666; font-size: 12px; line-height: 24px; margin: 0 0 4px;">
      This email was sent by OpenPanel server: <strong style="color: var(--color-text-primary); font-weight: bold;">{{ hostname }}</strong>
    </p>
    <p style="color: #666666; font-size: 12px; line-height: 24px; margin: 0;">
      OpenPanel B.V. –
      <a href="https://openpanel.com" style="color: #067df7; text-decoration: none;" target="_blank">openpanel.com</a>
    </p>

  </div>
</div>
