<div class="">
    <div class="aHl"></div>
    <div id=":mg" tabindex="-1"></div>
    <div
        id=":pi"
        class="ii gt"
        jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgxMzc5NjU4MTEzOTAwNTM2NiJd; 4:WyIjbXNnLWY6MTgxMzc5NjU4MTEzOTAwNTM2NiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd"
    >
        <div id=":ph" class="a3s aiL msg-5951896855460130215">
            <u></u>

            <div style="width: 100%; font-family: 'inter', 'helvetica neue', helvetica, arial, sans-serif; padding: 20px 0 0 0; margin: 0;">
                <div style="background-color: #ffffff;">
                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px; padding: 0; margin: 0; width: 100%; height: 100%; background-repeat: repeat; background-position: center top;">
                        <tbody>
                            <tr style="border-collapse: collapse;">
                                <td valign="top" style="padding: 0; margin: 0;">
                                    <table class="m_-5951896855460130215es-content" cellspacing="0" cellpadding="0" align="center" style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed !important; width: 100%;">
                                        <tbody>
                                            <tr style="border-collapse: collapse;">
                                                <td align="center" style="padding: 0; margin: 0;">
                                                    <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="border-collapse: collapse; border-spacing: 0px; background-color: #ffffff;">
                                                        <tbody>
                                                            <tr style="border-collapse: collapse;">
                                                                <td align="left" style="padding: 0; margin: 0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse: collapse;">
                                                                                <td align="center" valign="top" style="padding: 0; margin: 0;">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                                                        <tbody>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td style="padding: 0; margin: 0;">
                                                                                                    <div style="height: 5px; background: #{% if 'enable' in message %}21af63{% else %}de3618{% endif %};">
                                                                                                        &nbsp;
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr style="border-collapse: collapse;">
                                                                <td align="left" class="m_-5951896855460130215mail-section--intro" style="padding: 0; margin: 0; padding-top: 40px; padding-left: 40px; padding-right: 40px;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse: collapse;">
                                                                                <td width="720" align="center" valign="top" style="padding: 0; margin: 0;">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                                                        <tbody>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td align="left" style="padding: 0; margin: 0; padding-top: 20px;">
                                                                                                    <h3
                                                                                                        style="
                                                                                                            margin: 0;
                                                                                                            line-height: 30px;
                                                                                                            font-family: 'inter', 'helvetica neue', helvetica, arial, sans-serif;
                                                                                                            font-size: 20px;
                                                                                                            font-style: normal;
                                                                                                            font-weight: normal;
                                                                                                            color: #222b35;
                                                                                                        "
                                                                                                    >
                                                                                                        <span style="display: inline-block; margin-right: 6px; width: 16px; height: 16px; background: #{% if 'enable' in message %}21af63{% else %}de3618{% endif %}; border-radius: 16px;"></span>
                                                                                                        <strong>{{ title }}</strong>
                                                                                                    </h3>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td align="left" style="padding: 0; margin: 0; padding-top: 30px;">
                                                                                                    <p
                                                                                                        style="
                                                                                                            margin: 0;
                                                                                                            font-size: 16px;
                                                                                                            font-family: 'inter', 'helvetica neue', helvetica, arial, sans-serif;
                                                                                                            line-height: 24px;
                                                                                                            color: #424761;
                                                                                                        "
                                                                                                    >
                                                                                                        Hello,
                                                                                                        <br />
                                                                                                        <br />
                                                                                                        {{ message.split('\n', 1)[1].replace('\n', '<br>') | safe }}
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr style="border-collapse: collapse;">
                                                                <td align="left" class="m_-5951896855460130215mail-section--action-buttons" style="margin: 0; padding-top: 30px; padding-left: 40px; padding-right: 40px;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse: collapse;">
                                                                                <td width="720" align="center" valign="top" style="padding: 0; margin: 0;">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                                                        <tbody>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td align="left" style="padding: 0; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-right: 10px;">
                                                                                                    <span
                                                                                                        class="m_-5951896855460130215es-button-border"
                                                                                                        style="
                                                                                                            border-style: solid;
                                                                                                            border-color: #dfe3ea;
                                                                                                            background: #fff;
                                                                                                            border-width: 1px;
                                                                                                            display: inline-block;
                                                                                                            border-radius: 8px;
                                                                                                            width: auto;
                                                                                                            margin-bottom: 15px;
                                                                                                        "
                                                                                                    >
                                                                                                        <a
                                                                                                            href="{{ notifications_url }}"
                                                                                                            class="m_-5951896855460130215es-button"
                                                                                                            style="
                                                                                                                text-decoration: none;
                                                                                                                font-family: 'inter', 'helvetica neue', helvetica, arial, sans-serif;
                                                                                                                font-size: 15px;
                                                                                                                color: #222b35;
                                                                                                                border-style: solid;
                                                                                                                border-color: #fff;
                                                                                                                padding: 12px 25px 12px 25px;
                                                                                                                display: inline-block;
                                                                                                                background: #fff;
                                                                                                                border-radius: 8px;
                                                                                                                font-weight: 500;
                                                                                                                font-style: normal;
                                                                                                                line-height: 17px;
                                                                                                                width: auto;
                                                                                                                text-align: center;
                                                                                                            " target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://{{ notifications_url }}">
                                                                                                            Edit Notification Preferences
                                                                                                        </a>
                                                                                                    </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr style="border-collapse: collapse;">
                                                                <td align="left" bgcolor="#F7F8FA" style="margin: 0; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px; background-color: #f7f8fa;">
                                                                    <table cellpadding="0" cellspacing="0" class="m_-5951896855460130215es-left" align="left" style="border-collapse: collapse; border-spacing: 0px; float: left;">
                                                                        <tbody>
                                                                            <tr style="border-collapse: collapse;">
                                                                                <td class="m_-5951896855460130215es-m-p20b" align="left" style="padding: 0; margin: 0;">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                                                        <tbody>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td align="left" class="m_-5951896855460130215mobile-align-center" style="padding: 0; margin: 0;">
                                                                                                    <a
                                                                                                        href="https://openpanel.com?utm=user_email"
                                                                                                        target="_blank"
                                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://openpanel.com"
                                                                                                    >
                                                                                                        <img src="https://openpanel.com/img/openpanel_logo.png" width="40" height="37" alt="OpenPanel"
                                                                                                            style="display: inline-block; border: 0; outline: none; text-decoration: none;"
                                                                                                            width="40"
                                                                                                            class="CToWUd"
                                                                                                            data-bit="iit"
                                                                                                        />
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <table cellpadding="0" cellspacing="0" class="m_-5951896855460130215es-right" align="right" style="border-collapse: collapse; border-spacing: 0px; float: right;">
                                                                        <tbody>
                                                                            <tr style="border-collapse: collapse;">
                                                                                <td align="left" style="padding: 0; margin: 0;">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                                                        <tbody>
                                                                                            <tr style="border-collapse: collapse;">
                                                                                                <td align="right" class="m_-5951896855460130215mobile-align-center" style="padding: 0; margin: 0; padding-top: 5px;">
                                                                                                    <p
                                                                                                        style="
                                                                                                            margin: 0;
                                                                                                            font-size: 14px;
                                                                                                            font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;
                                                                                                            line-height: 21px;
                                                                                                            color: #020a14;
                                                                                                        "
                                                                                                    >
                                                                                                        <a
                                                                                                            href="{{ notifications_url }}"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q={{ notifications_url }}"
                                                                                                        >
                                                                                                            Help &amp; Support
                                                                                                        </a>
                                                                                                        <span style="margin: 0 6px; width: 4px; height: 4px; border-radius: 4px; display: inline-block; background: #959aa0;"></span>




                                                                                                        <a
                                                                                                            href="{{ notifications_url.rsplit('/settings/notifications', 1)[0] + '/login' }}}"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="{{ notifications_url.rsplit('/settings/notifications', 1)[0] + '/login' }}">
                                                                                                            Sign in
                                                                                                        </a>
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                                                                                                                    <p style="color: #666666; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 12px; line-height: 24px">
                                            You are receiving this notification due to your current notifications preferences. If you'd like to disable them, please
                                            <a href="{{ notifications_url }}" style="color: #067df7; text-decoration: none" target="_blank" rel="noreferrer">
                                                click here</a>.
                                        </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img
                    alt=""
                    src="https://ci3.googleusercontent.com/meips/ADKq_NZd0B8FwCqLJ2hacNRfEkjVHhkvP8-1bvnvNHBGD1Epv3WbZn-Z7_d99NVoWy_C18QIRWJQobbo9xo94j0Qaa-HtwskRghWGXhEanezG-6SUX3CHupFXghvLrM1BjzakC5YgMAxj4S4o6rX3Q=s0-d-e1-ft#https://uptime.betterstack.com/ahoy/messages/LRUjki97dkfYPNfCNvrZCVC4XKI92nYb/open.gif"
                    width="1"
                    height="1"
                    class="CToWUd"
                    data-bit="iit"
                />
                <div class="yj6qo"></div>
                <div class="adL"></div>
            </div>
            <div class="adL"></div>
        </div>
    </div>
</div>
